workflows/evolution-simulator-generator.json
{
  "name": "Evolution Simulator - Fixture Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-simulator-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Generate Fixture",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "evolution-simulator-generator"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// Build Prompt вҖ” Evolution Simulator V2 (manual mode, Groq backend)\n// =====================================================================\n// Input body: { slug: 'bella-faces-popular' | 'vivance-intermediario' | 'renatalins-premium', batch_size?: 30, target?: 2500 }\n// Output: meta + groqPayload pro prГіximo node.\n//\n// DNA das 3 clГӯnicas hardcoded aqui. Mudou regra de negГіcio? Edita aqui e push.\n// =====================================================================\n\nconst body = $input.first().json.body || {};\n\nconst slug = String(body.slug || '').trim();\nif (!/^[a-z0-9-]+$/.test(slug)) {\n  throw new Error(`Invalid slug '${slug}'. Use lowercase letters, numbers, hyphens only.`);\n}\n\nconst batchSize = Math.min(Math.max(parseInt(body.batch_size) || 40, 5), 200);\nconst target    = Math.min(Math.max(parseInt(body.target)     || 2500, 10), 10000);\n\n// =====================================================================\n// DNA das 3 clГӯnicas (popular, intermediГЎrio, premium)\n// =====================================================================\nconst DNA_REGISTRY = {\n  'bella-faces-popular': {\n    label: 'EstГ©tica Bella Faces (popular вҖ” TatuapГ©/SP)',\n    description: 'ClГӯnica de bairro popular. BiomГ©dica solo, preГ§o aberto + sinal, tom marketeiro com emoji.',\n    tier: 'popular',\n    profile: {\n      slug: 'bella-faces-popular',\n      tier: 'popular',\n      clinic: {\n        name: 'EstГ©tica Bella Faces',\n        address: 'Rua Serra de Japi, 1247 вҖ” TatuapГ©, SГЈo Paulo/SP',\n        neighborhood: 'TatuapГ©',\n        reference: '3 min a pГ© do metrГҙ TatuapГ©, ao lado da farmГЎcia SГЈo Paulo',\n        hours: 'Seg a Sex 9h-19h, SГЎb 9h-14h',\n        payment: ['PIX (10% off)', 'cartГЈo atГ© 6x sem juros', 'cartГЈo atГ© 12x com juros'],\n        instagram: '@bellafaces.tatuape',\n        ddd: '11'\n      },\n      professionals: [\n        { name: 'Camila Rocha', title: 'BiomГ©dica Esteta', registry: 'CRBM-1 45892', specialties: ['toxina botulГӯnica', 'preenchimento', 'peeling quГӯmico', 'limpeza de pele'] }\n      ],\n      services: [\n        { name: 'Botox (por ГЎrea)', duration_min: 30, price_mode: 'aberto', price_text: 'R$ 450 a ГЎrea, ou 3 ГЎreas por R$ 1.100', requires_consultation: false, performed_by: 'Camila Rocha' },\n        { name: 'Preenchimento labial', duration_min: 45, price_mode: 'aberto', price_text: 'R$ 890 com Juvederm, R$ 690 com nacional', requires_consultation: false, performed_by: 'Camila Rocha' },\n        { name: 'Preenchimento de olheira / sulco', duration_min: 45, price_mode: 'aberto', price_text: 'R$ 990 (1 seringa, cobre as duas)', requires_consultation: false, performed_by: 'Camila Rocha' },\n        { name: 'Limpeza de pele profunda', duration_min: 60, price_mode: 'aberto', price_text: 'R$ 150, pacote de 4 por R$ 500', requires_consultation: false, performed_by: 'Camila Rocha' },\n        { name: 'Peeling quГӯmico (ГЎcido)', duration_min: 30, price_mode: 'aberto', price_text: 'R$ 180 sessГЈo, protocolo 4 sessГөes R$ 620', requires_consultation: false, performed_by: 'Camila Rocha' }\n      ],\n      dimensions: {\n        preco_politica: 'aberto_com_sinal',\n        educacao_tecnica: 'explica_no_zap',\n        velocidade_conversao: 'pressiona',\n        tom_voz: 'marketeiro_emoji',\n        prova_social: 'antes_depois_proativo',\n        profissional_mencao: 'generico',\n        origem_paciente: ['google_ads', 'indicacao', 'instagram_local'],\n        follow_up: 'persegue_lead',\n        contraindicacao_policy: 'pergunta_na_hora_de_fechar',\n        servicos_destaque: ['botox', 'preenchimento labial']\n      }\n    }\n  },\n\n  'vivance-intermediario': {\n    label: 'EspaГ§o Vivance EstГ©tica (intermediГЎrio вҖ” Pinheiros/SP)',\n    description: 'ClГӯnica de rua boa. Dermato + biomГ©dica + esteticista. PreГ§o em faixa, tom amigГЎvel, prova social sob demanda.',\n    tier: 'intermediario',\n    profile: {\n      slug: 'vivance-intermediario',\n      tier: 'intermediario',\n      clinic: {\n        name: 'EspaГ§o Vivance EstГ©tica',\n        address: 'Rua Fradique Coutinho, 915 вҖ” Pinheiros, SГЈo Paulo/SP',\n        neighborhood: 'Pinheiros',\n        reference: 'a 2 quadras do metrГҙ Fradique Coutinho',\n        hours: 'Seg a Sex 10h-20h, SГЎb 9h-15h',\n        payment: ['PIX (5% off)', 'cartГЈo atГ© 10x sem juros', 'boleto', 'Wellhub / Gympass (sГі limpeza e peeling)'],\n        instagram: '@vivance.estetica',\n        ddd: '11'\n      },\n      professionals: [\n        { name: 'Dra. LetГӯcia Moraes', title: 'Dermatologista', registry: 'CRM-SP 189432 / RQE 82145', specialties: ['toxina botulГӯnica', 'preenchimento', 'bioestimulador', 'harmonizaГ§ГЈo facial'] },\n        { name: 'Paula Tavares',       title: 'BiomГ©dica Esteta', registry: 'CRBM-1 52301',          specialties: ['toxina botulГӯnica', 'preenchimento labial', 'microagulhamento'] },\n        { name: 'Juliana Santos',      title: 'Esteticista',     registry: null,                    specialties: ['limpeza de pele', 'peeling de diamante', 'peeling quГӯmico', 'drenagem'] }\n      ],\n      services: [\n        { name: 'Botox (por ГЎrea)', duration_min: 30, price_mode: 'faixa', price_text: 'a partir de R$ 750 a ГЎrea, fechamos pacote 3 ГЎreas com condiГ§ГЈo especial', requires_consultation: false, performed_by: ['Dra. LetГӯcia Moraes', 'Paula Tavares'] },\n        { name: 'Preenchimento labial (ГЎcido hialurГҙnico)', duration_min: 45, price_mode: 'faixa', price_text: 'entre R$ 1.200 e R$ 1.600 dependendo da marca (Juvederm / Restylane)', requires_consultation: false, performed_by: ['Dra. LetГӯcia Moraes', 'Paula Tavares'] },\n        { name: 'Preenchimento de sulco / olheira', duration_min: 45, price_mode: 'faixa', price_text: 'a partir de R$ 1.500, a Dra. avalia a indicaГ§ГЈo', requires_consultation: true, performed_by: 'Dra. LetГӯcia Moraes' },\n        { name: 'Bioestimulador Radiesse', duration_min: 60, price_mode: 'avaliacao', price_text: 'o valor a gente fecha na avaliaГ§ГЈo porque depende de quantos frascos, mas gira em torno de R$ 2.800 a R$ 3.500 o frasco', requires_consultation: true, performed_by: 'Dra. LetГӯcia Moraes' },\n        { name: 'HarmonizaГ§ГЈo facial (avaliaГ§ГЈo)', duration_min: 90, price_mode: 'avaliacao', price_text: 'o plano a gente monta na consulta com a Dra. LetГӯcia вҖ” avaliaГ§ГЈo R$ 250 (abatida se fechar)', requires_consultation: true, performed_by: 'Dra. LetГӯcia Moraes' },\n        { name: 'Microagulhamento', duration_min: 75, price_mode: 'faixa', price_text: 'R$ 380 a sessГЈo, protocolo de 4 por R$ 1.300', requires_consultation: false, performed_by: 'Paula Tavares' },\n        { name: 'Peeling de diamante', duration_min: 45, price_mode: 'aberto', price_text: 'R$ 220 sessГЈo, pacote 5x por R$ 950', requires_consultation: false, performed_by: 'Juliana Santos' },\n        { name: 'Limpeza de pele profunda', duration_min: 60, price_mode: 'aberto', price_text: 'R$ 220, pacote 4x por R$ 750', requires_consultation: false, performed_by: 'Juliana Santos' }\n      ],\n      dimensions: {\n        preco_politica: 'faixa',\n        educacao_tecnica: 'mix',\n        velocidade_conversao: 'balanceado',\n        tom_voz: 'amigavel',\n        prova_social: 'sob_demanda',\n        profissional_mencao: 'sob_demanda',\n        origem_paciente: ['indicacao', 'instagram', 'google_maps_organico'],\n        follow_up: 'lembrete_pre_avaliacao',\n        contraindicacao_policy: 'triagem_leve',\n        servicos_destaque: ['botox', 'harmonizaГ§ГЈo leve', 'bioestimulador']\n      }\n    }\n  },\n\n  'renatalins-premium': {\n    label: 'ClГӯnica Renata Lins Dermatologia (premium вҖ” Jardins/SP)',\n    description: 'ClГӯnica premium nos Jardins. 4 profissionais, dermato sГӘnior nomeada proativamente. PreГ§o sГі na avaliaГ§ГЈo, tom formal-clГӯnico.',\n    tier: 'premium',\n    profile: {\n      slug: 'renatalins-premium',\n      tier: 'premium',\n      clinic: {\n        name: 'ClГӯnica Renata Lins Dermatologia',\n        address: 'Alameda Santos, 2485 вҖ” Jardim Paulista, SГЈo Paulo/SP',\n        neighborhood: 'Jardins',\n        reference: 'entre a Peixoto Gomide e a Augusta, manobrista no local',\n        hours: 'Seg a Sex 9h-19h, SГЎb 9h-13h (apenas com hora marcada)',\n        payment: ['PIX', 'cartГЈo atГ© 10x sem juros', 'transferГӘncia bancГЎria'],\n        instagram: '@drarenatalins',\n        ddd: '11'\n      },\n      professionals: [\n        { name: 'Dra. Renata Lins',   title: 'Dermatologista', registry: 'CRM-SP 98721 / RQE 45128',  specialties: ['harmonizaГ§ГЈo facial', 'bioestimuladores', 'fios de PDO', 'laser', 'rinomodelaГ§ГЈo'], seniority: 'senior' },\n        { name: 'Dr. Fernando Okabe', title: 'Dermatologista', registry: 'CRM-SP 167890 / RQE 71245', specialties: ['toxina botulГӯnica', 'preenchimento', 'Ultraformer', 'laser pico'],                seniority: 'pleno' },\n        { name: 'Mariana Dellagio',   title: 'BiomГ©dica Esteta', registry: 'CRBM-1 61024',           specialties: ['microagulhamento', 'skinbooster', 'peeling mГ©dio'] },\n        { name: 'CГӯntia Reis',        title: 'Esteticista SГӘnior', registry: null,                  specialties: ['Hydrafacial', 'protocolos corporais', 'limpeza premium', 'radiofrequГӘncia'] }\n      ],\n      services: [\n        { name: 'Consulta dermatolГіgica completa', duration_min: 60, price_mode: 'aberto', price_text: 'R$ 650 com a Dra. Renata, R$ 450 com o Dr. Fernando. O valor Г© abatido caso opte por algum procedimento', requires_consultation: false, performed_by: ['Dra. Renata Lins', 'Dr. Fernando Okabe'] },\n        { name: 'Toxina botulГӯnica (plano facial)', duration_min: 45, price_mode: 'avaliacao', price_text: 'o plano Г© personalizado na consulta, mas o protocolo completo de face fica entre R$ 2.800 e R$ 3.900', requires_consultation: true, performed_by: ['Dra. Renata Lins', 'Dr. Fernando Okabe'] },\n        { name: 'Preenchimento (ГЎcido hialurГҙnico premium)', duration_min: 60, price_mode: 'avaliacao', price_text: 'a seringa de produto importado (Juvederm Volift / Restylane Lyft) fica em torno de R$ 2.800 a R$ 4.500, mas a indicaГ§ГЈo Г© sempre definida em consulta', requires_consultation: true, performed_by: ['Dra. Renata Lins', 'Dr. Fernando Okabe'] },\n        { name: 'HarmonizaГ§ГЈo facial completa', duration_min: 120, price_mode: 'avaliacao', price_text: 'o planejamento facial Г© feito pela Dra. Renata em consulta dedicada вҖ” o valor depende da combinaГ§ГЈo de procedimentos', requires_consultation: true, performed_by: 'Dra. Renata Lins' },\n        { name: 'Bioestimulador Sculptra', duration_min: 75, price_mode: 'avaliacao', price_text: 'cada frasco fica na faixa de R$ 4.500, protocolo completo costuma ser de 2 a 3 frascos вҖ” a Dra. Renata indica', requires_consultation: true, performed_by: 'Dra. Renata Lins' },\n        { name: 'Bioestimulador Radiesse', duration_min: 60, price_mode: 'avaliacao', price_text: 'em torno de R$ 3.800 o frasco, avaliaГ§ГЈo define quantos', requires_consultation: true, performed_by: 'Dra. Renata Lins' },\n        { name: 'Fios de PDO (lifting)', duration_min: 90, price_mode: 'avaliacao', price_text: 'procedimento mГ©dico, valor conforme plano definido em consulta', requires_consultation: true, performed_by: 'Dra. Renata Lins' },\n        { name: 'RinomodelaГ§ГЈo', duration_min: 60, price_mode: 'avaliacao', price_text: 'valor Г© definido na avaliaГ§ГЈo com a Dra. Renata', requires_consultation: true, performed_by: 'Dra. Renata Lins' },\n        { name: 'Ultraformer MPT', duration_min: 90, price_mode: 'avaliacao', price_text: 'o protocolo Г© personalizado por ГЎrea вҖ” face completa costuma ficar entre R$ 5.500 e R$ 8.500', requires_consultation: true, performed_by: 'Dr. Fernando Okabe' },\n        { name: 'Laser picosegundo (manchas/rejuvenescimento)', duration_min: 45, price_mode: 'avaliacao', price_text: 'depende do tipo e quantidade de sessГөes вҖ” avaliaГ§ГЈo com o Dr. Fernando', requires_consultation: true, performed_by: 'Dr. Fernando Okabe' },\n        { name: 'Skinbooster', duration_min: 45, price_mode: 'faixa', price_text: 'a partir de R$ 2.200 a sessГЈo, protocolo de 3 sessГөes Г© o usual', requires_consultation: true, performed_by: 'Mariana Dellagio' },\n        { name: 'Hydrafacial Premium', duration_min: 75, price_mode: 'aberto', price_text: 'R$ 680 sessГЈo, pacote de 4 por R$ 2.400', requires_consultation: false, performed_by: 'CГӯntia Reis' }\n      ],\n      dimensions: {\n        preco_politica: 'avaliacao',\n        educacao_tecnica: 'guarda_pra_avaliacao',\n        velocidade_conversao: 'nurture',\n        tom_voz: 'formal_clinico',\n        prova_social: 'melhor_ao_vivo',\n        profissional_mencao: 'proativa_senior',\n        origem_paciente: ['instagram', 'indicacao'],\n        follow_up: 'nao_persegue',\n        contraindicacao_policy: 'triagem_estruturada',\n        servicos_destaque: ['harmonizaГ§ГЈo completa', 'bioestimuladores', 'Ultraformer']\n      }\n    }\n  }\n};\n\nconst entry = DNA_REGISTRY[slug];\nif (!entry) {\n  throw new Error(`Unknown slug '${slug}'. Available: ${Object.keys(DNA_REGISTRY).join(', ')}`);\n}\n\nconst dnaJson = JSON.stringify(entry.profile, null, 2);\n\n// =====================================================================\n// Prompt V2 вҖ” sigue o doc MVP-07. Output envelopado em {messages:[...]}\n// pra compatibilidade com response_format json_object do Groq.\n// =====================================================================\nconst systemPrompt = `VocГӘ Г© um gerador de conversas WhatsApp realistas entre pacientes e\natendentes de clГӯnicas de ESTГүTICA (botox, preenchimento, bioestimulador,\nharmonizaГ§ГЈo, peeling, tratamentos faciais e corporais). Nunca gera\nconversas de mГ©dico tradicional, dentista ou outro nicho.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nDNA DA CLГҚNICA (toda conversa deste batch respeita este DNA)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n${dnaJson}\n\nO DNA define a clГӯnica: tier, polГӯtica de preГ§o, tom, profissionais,\ncatГЎlogo de serviГ§os, origem tГӯpica do paciente, uso de prova social,\nvelocidade de conversГЈo, polГӯtica de contraindicaГ§ГЈo, follow-up.\nTODAS as ${batchSize} msgs a gerar vГӘm de conversas nesta mesma clГӯnica вҖ” a\natendente mantГ©m voz e regras consistentes. O que varia Г© o PACIENTE.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nREGRAS UNIVERSAIS (vГЎlidas independente do DNA)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n\nPACIENTES\n- Nomes brasileiros variados (~85% femininos em estГ©tica, 15% masculinos)\n  Femininos sugeridos: Amanda, Juliana, Camila, Mariana, Beatriz, Larissa,\n  Patricia, Renata, Fernanda, Luiza, Carolina, Tatiana, Aline, Vanessa,\n  Bruna, Gabriela, Isabela, Daniela, Roberta, Priscila, NatГЎlia, BГЎrbara,\n  Sabrina, MГҙnica, Adriana, ClГЎudia, LetГӯcia, Joana, Marina\n  Masculinos: JoГЈo, Pedro, Rafael, Bruno, Felipe, Lucas, Thiago\n- Nomes PODEM se repetir entre conversas (realista).\n- Cada conversa = 1 paciente = 1 remoteJid Гәnico.\n  FORMATO OBRIGATГ“RIO: \"5511 + 9 + 8 dГӯgitos + @s.whatsapp.net\"\n  EXEMPLOS VГҒLIDOS: 5511987654321, 5511996543210, 5511998877665, 5511991234567\n  PROIBIDO: usar literal \"DD\", \"XXXX\", placeholders. SEMPRE 5511 (DDD 11 = SP).\n- Idade implГӯcita 25-65 (maioria 30-50)\n- MotivaГ§Гөes variam: autoestima, evento (casamento, formatura), manutenГ§ГЈo,\n  indicaГ§ГЈo de amiga, curiosidade\n\nORIGEM DO CONTATO (respeita dna.dimensions.origem_paciente)\n- Google Ads: \"vi o anГәncio\", \"tГҙ pesquisando botox aqui em {bairro}\"\n- Instagram/Reels: \"vi no insta de vcs\", \"vi um reels aqui\"\n- Google Maps orgГўnico: \"achei vcs no google\", \"vi as avaliaГ§Гөes\"\n- IndicaГ§ГЈo: \"minha amiga {Nome} fez aГӯ\", \"a {Nome} me passou o contato\"\n- Retorno: \"jГЎ tinha feito botox aГӯ ano passado, queria voltar\"\n\nCOMPORTAMENTO DA ATENDENTE (respeita o DNA)\n- PreГ§o: segue dna.dimensions.preco_politica\n  - \"aberto\": dГЎ valores (sempre com parcelamento OU PIX com desconto)\n  - \"aberto_com_sinal\": valor + pede sinal pra reservar\n  - \"faixa\": ancora \"a partir de R$X\" ou \"entre R$X e R$Y\"\n  - \"avaliacao\": \"o valor a gente passa na avaliaГ§ГЈo\"\n- EducaГ§ГЈo tГ©cnica: segue dna.dimensions.educacao_tecnica\n- Prova social: segue dna.dimensions.prova_social\n- Profissional: segue dna.dimensions.profissional_mencao\n- Velocidade: segue dna.dimensions.velocidade_conversao\n- Tom: segue dna.dimensions.tom_voz вҖ” DETALHAMENTO OBRIGATГ“RIO:\n\n  вҖў \"marketeiro_emoji\" (popular):\n    - SEMPRE 1-3 emojis por msg da atendente (рҹҳҠ вңЁ рҹ’ү рҹ’– рҹҘ° вқӨпёҸ рҹ”Ҙ рҹҷҢ)\n    - Frases CURTAS, em rajadas (quebra a msg em 2-3 partes)\n    - AbreviaГ§Гөes OBRIGATГ“RIAS: vc, tb, tГҙ, pra, pq, mto, q (em vez de que), tbm, msm\n    - Linguagem de stories de Instagram: \"amoraaa\", \"linda\", \"vem!\", \"corre!\", \"oferta\"\n    - PROIBIDO no tom popular: \"vocГӘ\" (use \"vc\"), \"estГЎ\" (use \"tГЎ\"), \"para\" (use \"pra\"),\n      \"basta\", \"que te convenha\", \"caso opte\", \"gostaria\", frases formais de SAC.\n    - PressГЈo suave: \"agenda tГЎ quase fechando essa semana\", \"reserva o seu agora\"\n    - Pede sinal sempre: \"PIX de R$ 50 pra reservar amor рҹ’–\"\n\n  вҖў \"amigavel\" (intermediГЎrio):\n    - 0-1 emoji ocasional (рҹҳҠ), nem toda msg\n    - Frases mГ©dias, profissionais mas calorosas\n    - Mistura \"vc\" com \"vocГӘ\", abreviaГ§Гөes leves (\"tb\", \"nГ©\")\n    - Convida pra avaliaГ§ГЈo sem pressionar muito\n\n  вҖў \"formal_clinico\" (premium):\n    - ZERO emoji\n    - \"vocГӘ\", \"a senhora\", \"por favor\"\n    - Menciona Dra. proativamente, plano personalizado\n    - Frases completas, sem abreviaГ§ГЈo de WhatsApp\n    - Convite formal: \"posso agendar uma avaliaГ§ГЈo com a Dra. Renata?\"\n\nREALISMO DE CONVERSA\n- Cada conversa: mГӯnimo 4 msgs, mГЎximo 20 (mГ©dia 8-12)\n- Mensagens curtas em rajadas (2-3 msgs seguidas mesmo remetente) sГЈo comuns\n- Linguagem informal PT-BR real: vc, tb, tГҙ, nГ©, pq, mto, abreviaГ§Гөes casuais\n- Erros leves de digitaГ§ГЈo ocasionais (nГЈo em toda msg)\n- Datas mencionadas: fevereiro a abril de 2026\n- Timestamps: SEMPRE inteiros unix seconds NO INTERVALO 1772000000 a 1777000000\n  (1772000000 = 2026-02-26 / 1777000000 = 2026-04-25). NUNCA gere valores fora disso.\n  Exemplos vГЎlidos: 1773850000, 1774200000, 1775600000, 1776800000.\n  PROIBIDO: 1676800000 (isso Г© 2023, errado), qualquer nГәmero <1772000000 ou >=1777000000.\n  ProgressГЈo realista dentro da conversa: +30s a +900s entre msgs prГіximas;\n  entre conversas diferentes, +3600s a +172800s (horas a 2 dias).\n- Atendente NГғO usa pushName (sempre null, fromMe=true)\n- Paciente SEMPRE tem pushName (nome como apareceria no WhatsApp)\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nDISTRIBUIГҮГғO DE OUTCOMES (por conversa, nГЈo por mensagem)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n- agendado (40%): termina com atendente confirmando data+hora\n- ghosting (25%): ГҡLTIMA msg Г© da ATENDENTE; ela propГҙs algo e paciente sumiu\n- objecao_ativa (15%): questiona preГ§o, compara concorrente, \"vou pensar\"\n- escalada_humana (10%): orГ§amento formal, falar com mГ©dico, fora do fluxo\n- contraindicacao (10%): revela condiГ§ГЈo (gestante, amamentando,\n  isotretinoГӯna, autoimune) вҶ’ atendente orienta + escala (nunca marca direto)\n\nABORDAGEM da atendente (distribui entre conversas):\n- convite_avaliacao / preco_direto / antes_depois / rapport\n\nSERVIГҮOS: usa o catГЎlogo em dna.services. Prioriza populares (botox,\npreenchimento, limpeza), cobre todo o catГЎlogo ao longo das conversas.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nFORMATO DE SAГҚDA (JSON ESTRITO, OBJETO TOP-LEVEL)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nRetorne APENAS um OBJETO JSON com a forma:\n{\"messages\":[...]}\n\nSEM markdown, SEM \\`\\`\\`json\\`\\`\\`, SEM comentГЎrios, SEM texto antes/depois.\n\nCada elemento de \"messages\" Г© UMA mensagem WhatsApp. Todas as msgs de\ntodas as conversas vГӘm achatadas em \"messages\", agrupadas por conversa,\ncronolГіgicas dentro da conversa.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nANTI-REPETIГҮГғO (CRГҚTICO вҖ” nГЈo vire papagaio)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nVc vai gerar MUITAS conversas. Elas DEVEM parecer escritas por pessoas\ndiferentes em momentos diferentes. PROIBIDO copiar literalmente as\nmesmas frases entre conversas distintas вҖ” varia tudo: opening,\noferta de horГЎrio, fechamento, pedido de sinal.\n\nREGRA: nenhuma frase exata da atendente pode aparecer em mais de 1\nconversa neste batch. Se vc se pegar usando \"Oiii [Nome] рҹ’–\" ou\n\"agenda dessa semana tГЎ quase fechando\" duas vezes, REESCREVE a\nsegunda diferente.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nBANCO DE VARIAГҮГ•ES (tom_voz=marketeiro_emoji)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nUSE COMO INSPIRAГҮГғO, MISTURE E CRIE NOVAS вҖ” nГЈo copie literal.\n\nOpenings (atendente cumprimentando paciente):\n  \"Oii [Nome]! tudo bem?\" / \"Oi flor рҹҢё\" / \"Oieee\" / \"Bom dia amor вҳҖпёҸ\" /\n  \"Oi linda рҹ’•\" / \"Oie [Nome]!! вңЁ\" / \"OlГЎ [Nome] tudo bem?\" /\n  \"Oi querida\" / \"Oi [Nome] рҹҳҠ que bom q vc chegou\"\n\nApresentar preГ§o (botox 3 ГЎreas):\n  \"3 ГЎreas sai R$ 1.100 amor рҹ’ү\" /\n  \"Г© R$ 450 por ГЎrea ou fechando 3 sai R$ 1.100 (vc economiza R$ 250!) вңЁ\" /\n  \"olha, por ГЎrea Г© 450 mas se vc quiser as 3 fecha em 1.100 рҹ’–\" /\n  \"valor Г© R$ 450 cada ГЎrea. As 3 saem por 1.100, dГЎ pra dividir tb\"\n\nProposta de horГЎrio:\n  \"tem terГ§a 10h ou quinta 16h\" / \"sexta de manhГЈ ou segunda Г  tarde, qual fica melhor?\" /\n  \"semana q vem tem quarta Г s 15h ou quinta Г s 11h\" /\n  \"essa semana ainda tem sexta 14h, quer?\" / \"posso te encaixar quinta Г s 17h\"\n\nPedido de sinal:\n  \"PIX de R$ 100 pra reservar рҹ’–\" / \"a gente pede um sinal de R$ 50 pra travar a vaga, ok?\" /\n  \"manda PIX de 100 q jГЎ garante\" / \"sinal Г© R$ 100, abate no dia\" /\n  \"pra travar o horГЎrio precisa de R$ 50 de sinal amor\"\n\nPressГЈo (use ~50% das vezes, nГЈo toda):\n  \"agenda tГЎ enchendo viu\" / \"quinta tГЎ quase fechando\" /\n  \"corre q ainda tem vaga\" / \"essa semana tГЎ quase no fim jГЎ\" /\n  ou simplesmente NГғO pressionar (deixa a paciente decidir)\n\nFechamento (atendente confirmando):\n  \"prontinho, agendado [dia] Г s [hora] рҹ’•\" /\n  \"fechou amor, [dia] Г s [hora]. te espero!\" /\n  \"[dia] Г s [hora] entГЈo, anotado вңЁ\" /\n  \"prontГӯssimo, [dia] [hora]. qq coisa me chama!\"\n\nPACIENTE tambГ©m varia. Mensagens iniciais possГӯveis:\n  \"oi tudo bem? queria saber do botox\" / \"oi vi vcs no insta\" /\n  \"oie boa tarde, Г© sobre preГ§o de preenchimento\" / \"oi amiga me indicou aГӯ\" /\n  \"bom dia! qto custa botox?\" / \"oi! atendem hj?\" /\n  \"oi fazem botox?\" (curtinho mesmo)\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nCOMPRIMENTO E ESTRUTURA DE CONVERSA\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nALVO MГүDIO: 8-12 msgs por conversa. NUNCA menos de 4.\n\nDistribuiГ§ГЈo esperada (de uma conversa tГӯpica de 10 msgs):\n  - 1-2 msgs: paciente abre (saudaГ§ГЈo + dГәvida, em rajada Г s vezes)\n  - 1-2 msgs: atendente cumprimenta + responde inicial\n  - 2-3 trocas: atendente esclarece + paciente confirma interesse\n  - 1-2 msgs: atendente propГөe horГЎrio + sinal\n  - 1-2 msgs: paciente fecha OU vira ghosting OU objeta\n\nSe batch_size=20 e cada conversa ~10 msgs, gera ~2 conversas COMPLETAS\nem vez de 5 conversas truncadas. Antes de cortar uma conversa pela\nmetade, prefira gerar uma conversa a menos e completar as que existem.\n\nREGRAS FINAIS:\n- remoteJid: formato \"5511XXXXXXXXX@s.whatsapp.net\" (13 dГӯgitos apГіs 55), ГҡNICO por conversa\n- fromMe=false вҶ’ paciente вҶ’ pushName=nome; fromMe=true вҶ’ atendente вҶ’ pushName=null\n- messageType: SEMPRE \"conversation\"\n- timestamp: progressГЈo cronolГіgica; nГЈo repetir`;\n\nconst userPrompt = `Gere aproximadamente ${batchSize} mensagens, distribuГӯdas em conversas independentes (cada conversa com remoteJid Гәnico, respeitando a distribuiГ§ГЈo de outcomes). Retorne APENAS o objeto JSON {\"messages\":[...]}.`;\n\nreturn [{\n  json: {\n    slug,\n    label: entry.label,\n    description: entry.description,\n    tier: entry.tier,\n    profile: entry.profile,\n    target,\n    batch_size: batchSize,\n    groqPayload: {\n      model: 'llama-3.3-70b-versatile',\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user',   content: userPrompt }\n      ],\n      temperature: 0.95,\n      max_tokens: 4000,\n      response_format: { type: 'json_object' }\n    }\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Groq Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groqPayload) }}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "call-groq",
      "name": "Groq - Generate Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// Parse & Validate вҖ” Groq response вҶ’ batch de msgs\n// =====================================================================\nconst response = $input.first().json;\nconst meta = $('Build Groq Prompt').first().json;\n\nif (!response.choices || !Array.isArray(response.choices) || response.choices.length === 0) {\n  throw new Error('Groq response missing choices: ' + JSON.stringify(response).slice(0, 500));\n}\n\nconst rawText = response.choices[0]?.message?.content;\nif (!rawText) {\n  throw new Error('Groq choices[0].message.content missing');\n}\n\n// json_object mode garante JSON vГЎlido, mas defendemos por garantia.\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (err) {\n  throw new Error(`Failed to parse Groq JSON: ${err.message}. Raw (first 500): ${String(rawText).slice(0, 500)}`);\n}\n\n// Aceita {messages:[...]} (preferido) ou array direto (defensivo)\nlet messages;\nif (Array.isArray(parsed)) {\n  messages = parsed;\n} else if (parsed && Array.isArray(parsed.messages)) {\n  messages = parsed.messages;\n} else {\n  throw new Error('Groq output not in {messages:[...]} or [...] form: ' + JSON.stringify(parsed).slice(0, 300));\n}\n\nif (messages.length === 0) {\n  throw new Error('Groq returned empty messages array');\n}\n\nconst required = ['remoteJid', 'fromMe', 'body', 'messageType', 'timestamp'];\nfor (let i = 0; i < messages.length; i++) {\n  const msg = messages[i];\n  for (const field of required) {\n    if (!(field in msg)) {\n      throw new Error(`Message #${i} missing field '${field}': ${JSON.stringify(msg).slice(0, 200)}`);\n    }\n  }\n  // pushName: defensivo вҖ” null pra atendente, string pra paciente\n  if (!('pushName' in msg)) {\n    msg.pushName = msg.fromMe ? null : 'Paciente';\n  }\n}\n\n// SQL-escape pra Postgres node\nconst sqlEscape = (s) => String(s).replace(/'/g, \"''\");\n\nconst profileJson  = JSON.stringify(meta.profile);\nconst messagesJson = JSON.stringify(messages);\n\nreturn [{\n  json: {\n    slug: meta.slug,\n    label: meta.label,\n    description: meta.description,\n    profile: meta.profile,\n    target: meta.target,\n    batch_count: messages.length,\n    usage: response.usage || null,\n    sql: {\n      slug:        sqlEscape(meta.slug),\n      label:       sqlEscape(meta.label),\n      description: meta.description == null ? null : sqlEscape(meta.description),\n      profile:     sqlEscape(profileJson),\n      messages:    sqlEscape(messagesJson),\n      target:      meta.target,\n      created_by:  sqlEscape('n8n-simulator-v2')\n    }\n  }\n}];"
      },
      "id": "parse-messages",
      "name": "Parse & Validate Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM append_dev_synthetic_fixture_messages(\n  '{{ $json.sql.slug }}',\n  '{{ $json.sql.label }}',\n  {{ $json.sql.description === null ? 'NULL' : \"'\" + $json.sql.description + \"'\" }},\n  '{{ $json.sql.profile }}'::jsonb,\n  {{ $json.sql.target }},\n  '{{ $json.sql.messages }}'::jsonb,\n  '{{ $json.sql.created_by }}'\n);",
        "options": {}
      },
      "id": "append-fixture",
      "name": "Supabase - Append Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1170, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, slug: $json.out_slug, current_count: $json.out_current_count, target: $json.out_target, batch_added: $json.out_batch_added, done: $json.out_done, usage: $('Parse & Validate Messages').first().json.usage }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Webhook - Generate Fixture": {
      "main": [[{ "node": "Build Groq Prompt", "type": "main", "index": 0 }]]
    },
    "Build Groq Prompt": {
      "main": [[{ "node": "Groq - Generate Messages", "type": "main", "index": 0 }]]
    },
    "Groq - Generate Messages": {
      "main": [[{ "node": "Parse & Validate Messages", "type": "main", "index": 0 }]]
    },
    "Parse & Validate Messages": {
      "main": [[{ "node": "Supabase - Append Messages", "type": "main", "index": 0 }]]
    },
    "Supabase - Append Messages": {
      "main": [[{ "node": "Respond - Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
