workflows/evolution-simulator-generator.json
{
  "name": "Evolution Simulator - Fixture Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-simulator-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Generate Fixture",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "evolution-simulator-generator"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// Build Prompt вҖ” Evolution Simulator V3 (text-format hybrid)\n// =====================================================================\n// Input body: { slug: 'bella-faces-popular' | 'vivance-intermediario' | 'renatalins-premium',\n//               count?: 3,           // conversations per call (1-10)\n//               target?: 2500,       // total msgs goal for this fixture\n//               outcome?: 'agendado' | 'ghosting' | 'objecao_ativa' | 'escalada_humana' | 'contraindicacao'\n//             }\n// Output: meta + groqPayload pro prГіximo node.\n//\n// LLM gera texto WhatsApp (DD/MM/AAAA HH:MM - Nome: msg) separado por\n// ---CONVERSA---. Parser converte pra Baileys flat shape em cГіdigo\n// determinГӯstico (timestamps unix UTC, remoteJid hash, fromMe via 'Atendente').\n//\n// Por que texto e nГЈo JSON: LLM omite campos arbitrariamente em modo JSON\n// estocГЎstico (e.g. timestamp some), e otimiza pra cobrir N msgs achatadas\n// distribuindo em conversas truncadas. Texto natural elimina ambos por construГ§ГЈo.\n// =====================================================================\n\nconst body = $input.first().json.body || {};\n\nconst slug = String(body.slug || '').trim();\nif (!/^[a-z0-9-]+$/.test(slug)) {\n  throw new Error(`Invalid slug '${slug}'. Use lowercase letters, numbers, hyphens only.`);\n}\n\nconst count   = Math.min(Math.max(parseInt(body.count) || 8, 1), 10);\nconst target  = Math.min(Math.max(parseInt(body.target) || 2500, 10), 10000);\nconst outcomeAllowed = ['agendado', 'ghosting', 'objecao_ativa', 'escalada_humana', 'contraindicacao'];\nconst outcome = body.outcome && outcomeAllowed.includes(body.outcome) ? body.outcome : null;\n\n// =====================================================================\n// DNA das 3 clГӯnicas (popular, intermediГЎrio, premium)\n// =====================================================================\nconst DNA_REGISTRY = {\n  'bella-faces-popular': {\n    label: 'EstГ©tica Bella Faces (popular вҖ” TatuapГ©/SP)',\n    description: 'ClГӯnica de bairro popular. BiomГ©dica solo, preГ§o aberto + sinal, tom marketeiro com emoji.',\n    tier: 'popular',\n    profile: {\n      slug: 'bella-faces-popular',\n      tier: 'popular',\n      clinic: {\n        name: 'EstГ©tica Bella Faces',\n        address: 'Rua Serra de Japi, 1247 вҖ” TatuapГ©, SГЈo Paulo/SP',\n        neighborhood: 'TatuapГ©',\n        reference: '3 min a pГ© do metrГҙ TatuapГ©, ao lado da farmГЎcia SГЈo Paulo',\n        hours: 'Seg a Sex 9h-19h, SГЎb 9h-14h',\n        payment: ['PIX (10% off)', 'cartГЈo atГ© 6x sem juros', 'cartГЈo atГ© 12x com juros'],\n        instagram: '@bellafaces.tatuape',\n        ddd: '11'\n      },\n      professionals: [\n        { name: 'Camila Rocha', title: 'BiomГ©dica Esteta', registry: 'CRBM-1 45892', specialties: ['toxina botulГӯnica', 'preenchimento', 'peeling quГӯmico', 'limpeza de pele'] }\n      ],\n      services: [\n        { name: 'Botox (por ГЎrea)', duration_min: 30, price_mode: 'aberto', price_text: 'R$ 450 a ГЎrea, ou 3 ГЎreas por R$ 1.100', requires_consultation: false, performed_by: 'Camila Rocha' },\n        { name: 'Preenchimento labial', duration_min: 45, price_mode: 'aberto', price_text: 'R$ 890 com Juvederm, R$ 690 com nacional', requires_consultation: false, performed_by: 'Camila Rocha' },\n        { name: 'Preenchimento de olheira / sulco', duration_min: 45, price_mode: 'aberto', price_text: 'R$ 990 (1 seringa, cobre as duas)', requires_consultation: false, performed_by: 'Camila Rocha' },\n        { name: 'Limpeza de pele profunda', duration_min: 60, price_mode: 'aberto', price_text: 'R$ 150, pacote de 4 por R$ 500', requires_consultation: false, performed_by: 'Camila Rocha' },\n        { name: 'Peeling quГӯmico (ГЎcido)', duration_min: 30, price_mode: 'aberto', price_text: 'R$ 180 sessГЈo, protocolo 4 sessГөes R$ 620', requires_consultation: false, performed_by: 'Camila Rocha' }\n      ],\n      dimensions: {\n        preco_politica: 'aberto_com_sinal',\n        educacao_tecnica: 'explica_no_zap',\n        velocidade_conversao: 'pressiona',\n        tom_voz: 'marketeiro_emoji',\n        prova_social: 'antes_depois_proativo',\n        profissional_mencao: 'generico',\n        origem_paciente: ['google_ads', 'indicacao', 'instagram_local'],\n        follow_up: 'persegue_lead',\n        contraindicacao_policy: 'pergunta_na_hora_de_fechar',\n        servicos_destaque: ['botox', 'preenchimento labial']\n      }\n    }\n  },\n\n  'vivance-intermediario': {\n    label: 'EspaГ§o Vivance EstГ©tica (intermediГЎrio вҖ” Pinheiros/SP)',\n    description: 'ClГӯnica de rua boa. Dermato + biomГ©dica + esteticista. PreГ§o em faixa, tom amigГЎvel, prova social sob demanda.',\n    tier: 'intermediario',\n    profile: {\n      slug: 'vivance-intermediario',\n      tier: 'intermediario',\n      clinic: {\n        name: 'EspaГ§o Vivance EstГ©tica',\n        address: 'Rua Fradique Coutinho, 915 вҖ” Pinheiros, SГЈo Paulo/SP',\n        neighborhood: 'Pinheiros',\n        reference: 'a 2 quadras do metrГҙ Fradique Coutinho',\n        hours: 'Seg a Sex 10h-20h, SГЎb 9h-15h',\n        payment: ['PIX (5% off)', 'cartГЈo atГ© 10x sem juros', 'boleto', 'Wellhub / Gympass (sГі limpeza e peeling)'],\n        instagram: '@vivance.estetica',\n        ddd: '11'\n      },\n      professionals: [\n        { name: 'Dra. LetГӯcia Moraes', title: 'Dermatologista', registry: 'CRM-SP 189432 / RQE 82145', specialties: ['toxina botulГӯnica', 'preenchimento', 'bioestimulador', 'harmonizaГ§ГЈo facial'] },\n        { name: 'Paula Tavares',       title: 'BiomГ©dica Esteta', registry: 'CRBM-1 52301',          specialties: ['toxina botulГӯnica', 'preenchimento labial', 'microagulhamento'] },\n        { name: 'Juliana Santos',      title: 'Esteticista',     registry: null,                    specialties: ['limpeza de pele', 'peeling de diamante', 'peeling quГӯmico', 'drenagem'] }\n      ],\n      services: [\n        { name: 'Botox (por ГЎrea)', duration_min: 30, price_mode: 'faixa', price_text: 'a partir de R$ 750 a ГЎrea, fechamos pacote 3 ГЎreas com condiГ§ГЈo especial', requires_consultation: false, performed_by: ['Dra. LetГӯcia Moraes', 'Paula Tavares'] },\n        { name: 'Preenchimento labial (ГЎcido hialurГҙnico)', duration_min: 45, price_mode: 'faixa', price_text: 'entre R$ 1.200 e R$ 1.600 dependendo da marca (Juvederm / Restylane)', requires_consultation: false, performed_by: ['Dra. LetГӯcia Moraes', 'Paula Tavares'] },\n        { name: 'Preenchimento de sulco / olheira', duration_min: 45, price_mode: 'faixa', price_text: 'a partir de R$ 1.500, a Dra. avalia a indicaГ§ГЈo', requires_consultation: true, performed_by: 'Dra. LetГӯcia Moraes' },\n        { name: 'Bioestimulador Radiesse', duration_min: 60, price_mode: 'avaliacao', price_text: 'o valor a gente fecha na avaliaГ§ГЈo porque depende de quantos frascos, mas gira em torno de R$ 2.800 a R$ 3.500 o frasco', requires_consultation: true, performed_by: 'Dra. LetГӯcia Moraes' },\n        { name: 'HarmonizaГ§ГЈo facial (avaliaГ§ГЈo)', duration_min: 90, price_mode: 'avaliacao', price_text: 'o plano a gente monta na consulta com a Dra. LetГӯcia вҖ” avaliaГ§ГЈo R$ 250 (abatida se fechar)', requires_consultation: true, performed_by: 'Dra. LetГӯcia Moraes' },\n        { name: 'Microagulhamento', duration_min: 75, price_mode: 'faixa', price_text: 'R$ 380 a sessГЈo, protocolo de 4 por R$ 1.300', requires_consultation: false, performed_by: 'Paula Tavares' },\n        { name: 'Peeling de diamante', duration_min: 45, price_mode: 'aberto', price_text: 'R$ 220 sessГЈo, pacote 5x por R$ 950', requires_consultation: false, performed_by: 'Juliana Santos' },\n        { name: 'Limpeza de pele profunda', duration_min: 60, price_mode: 'aberto', price_text: 'R$ 220, pacote 4x por R$ 750', requires_consultation: false, performed_by: 'Juliana Santos' }\n      ],\n      dimensions: {\n        preco_politica: 'faixa',\n        educacao_tecnica: 'mix',\n        velocidade_conversao: 'balanceado',\n        tom_voz: 'amigavel',\n        prova_social: 'sob_demanda',\n        profissional_mencao: 'sob_demanda',\n        origem_paciente: ['indicacao', 'instagram', 'google_maps_organico'],\n        follow_up: 'lembrete_pre_avaliacao',\n        contraindicacao_policy: 'triagem_leve',\n        servicos_destaque: ['botox', 'harmonizaГ§ГЈo leve', 'bioestimulador']\n      }\n    }\n  },\n\n  'renatalins-premium': {\n    label: 'ClГӯnica Renata Lins Dermatologia (premium вҖ” Jardins/SP)',\n    description: 'ClГӯnica premium nos Jardins. 4 profissionais, dermato sГӘnior nomeada proativamente. PreГ§o sГі na avaliaГ§ГЈo, tom formal-clГӯnico.',\n    tier: 'premium',\n    profile: {\n      slug: 'renatalins-premium',\n      tier: 'premium',\n      clinic: {\n        name: 'ClГӯnica Renata Lins Dermatologia',\n        address: 'Alameda Santos, 2485 вҖ” Jardim Paulista, SГЈo Paulo/SP',\n        neighborhood: 'Jardins',\n        reference: 'entre a Peixoto Gomide e a Augusta, manobrista no local',\n        hours: 'Seg a Sex 9h-19h, SГЎb 9h-13h (apenas com hora marcada)',\n        payment: ['PIX', 'cartГЈo atГ© 10x sem juros', 'transferГӘncia bancГЎria'],\n        instagram: '@drarenatalins',\n        ddd: '11'\n      },\n      professionals: [\n        { name: 'Dra. Renata Lins',   title: 'Dermatologista', registry: 'CRM-SP 98721 / RQE 45128',  specialties: ['harmonizaГ§ГЈo facial', 'bioestimuladores', 'fios de PDO', 'laser', 'rinomodelaГ§ГЈo'], seniority: 'senior' },\n        { name: 'Dr. Fernando Okabe', title: 'Dermatologista', registry: 'CRM-SP 167890 / RQE 71245', specialties: ['toxina botulГӯnica', 'preenchimento', 'Ultraformer', 'laser pico'],                seniority: 'pleno' },\n        { name: 'Mariana Dellagio',   title: 'BiomГ©dica Esteta', registry: 'CRBM-1 61024',           specialties: ['microagulhamento', 'skinbooster', 'peeling mГ©dio'] },\n        { name: 'CГӯntia Reis',        title: 'Esteticista SГӘnior', registry: null,                  specialties: ['Hydrafacial', 'protocolos corporais', 'limpeza premium', 'radiofrequГӘncia'] }\n      ],\n      services: [\n        { name: 'Consulta dermatolГіgica completa', duration_min: 60, price_mode: 'aberto', price_text: 'R$ 650 com a Dra. Renata, R$ 450 com o Dr. Fernando. O valor Г© abatido caso opte por algum procedimento', requires_consultation: false, performed_by: ['Dra. Renata Lins', 'Dr. Fernando Okabe'] },\n        { name: 'Toxina botulГӯnica (plano facial)', duration_min: 45, price_mode: 'avaliacao', price_text: 'o plano Г© personalizado na consulta, mas o protocolo completo de face fica entre R$ 2.800 e R$ 3.900', requires_consultation: true, performed_by: ['Dra. Renata Lins', 'Dr. Fernando Okabe'] },\n        { name: 'Preenchimento (ГЎcido hialurГҙnico premium)', duration_min: 60, price_mode: 'avaliacao', price_text: 'a seringa de produto importado (Juvederm Volift / Restylane Lyft) fica em torno de R$ 2.800 a R$ 4.500, mas a indicaГ§ГЈo Г© sempre definida em consulta', requires_consultation: true, performed_by: ['Dra. Renata Lins', 'Dr. Fernando Okabe'] },\n        { name: 'HarmonizaГ§ГЈo facial completa', duration_min: 120, price_mode: 'avaliacao', price_text: 'o planejamento facial Г© feito pela Dra. Renata em consulta dedicada вҖ” o valor depende da combinaГ§ГЈo de procedimentos', requires_consultation: true, performed_by: 'Dra. Renata Lins' },\n        { name: 'Bioestimulador Sculptra', duration_min: 75, price_mode: 'avaliacao', price_text: 'cada frasco fica na faixa de R$ 4.500, protocolo completo costuma ser de 2 a 3 frascos вҖ” a Dra. Renata indica', requires_consultation: true, performed_by: 'Dra. Renata Lins' },\n        { name: 'Bioestimulador Radiesse', duration_min: 60, price_mode: 'avaliacao', price_text: 'em torno de R$ 3.800 o frasco, avaliaГ§ГЈo define quantos', requires_consultation: true, performed_by: 'Dra. Renata Lins' },\n        { name: 'Fios de PDO (lifting)', duration_min: 90, price_mode: 'avaliacao', price_text: 'procedimento mГ©dico, valor conforme plano definido em consulta', requires_consultation: true, performed_by: 'Dra. Renata Lins' },\n        { name: 'RinomodelaГ§ГЈo', duration_min: 60, price_mode: 'avaliacao', price_text: 'valor Г© definido na avaliaГ§ГЈo com a Dra. Renata', requires_consultation: true, performed_by: 'Dra. Renata Lins' },\n        { name: 'Ultraformer MPT', duration_min: 90, price_mode: 'avaliacao', price_text: 'o protocolo Г© personalizado por ГЎrea вҖ” face completa costuma ficar entre R$ 5.500 e R$ 8.500', requires_consultation: true, performed_by: 'Dr. Fernando Okabe' },\n        { name: 'Laser picosegundo (manchas/rejuvenescimento)', duration_min: 45, price_mode: 'avaliacao', price_text: 'depende do tipo e quantidade de sessГөes вҖ” avaliaГ§ГЈo com o Dr. Fernando', requires_consultation: true, performed_by: 'Dr. Fernando Okabe' },\n        { name: 'Skinbooster', duration_min: 45, price_mode: 'faixa', price_text: 'a partir de R$ 2.200 a sessГЈo, protocolo de 3 sessГөes Г© o usual', requires_consultation: true, performed_by: 'Mariana Dellagio' },\n        { name: 'Hydrafacial Premium', duration_min: 75, price_mode: 'aberto', price_text: 'R$ 680 sessГЈo, pacote de 4 por R$ 2.400', requires_consultation: false, performed_by: 'CГӯntia Reis' }\n      ],\n      dimensions: {\n        preco_politica: 'avaliacao',\n        educacao_tecnica: 'guarda_pra_avaliacao',\n        velocidade_conversao: 'nurture',\n        tom_voz: 'formal_clinico',\n        prova_social: 'melhor_ao_vivo',\n        profissional_mencao: 'proativa_senior',\n        origem_paciente: ['instagram', 'indicacao'],\n        follow_up: 'nao_persegue',\n        contraindicacao_policy: 'triagem_estruturada',\n        servicos_destaque: ['harmonizaГ§ГЈo completa', 'bioestimuladores', 'Ultraformer']\n      }\n    }\n  }\n};\n\nconst entry = DNA_REGISTRY[slug];\nif (!entry) {\n  throw new Error(`Unknown slug '${slug}'. Available: ${Object.keys(DNA_REGISTRY).join(', ')}`);\n}\n\nconst dnaJson = JSON.stringify(entry.profile, null, 2);\n\n// =====================================================================\n// Prompt V3 вҖ” formato texto WhatsApp (DD/MM/AAAA HH:MM - Nome: msg)\n// separado por '---CONVERSA---'. Atendente literal 'Atendente'.\n// =====================================================================\nconst outcomeBlock = outcome\n  ? `\\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\\nOUTCOME FIXO DESTE BATCH\\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\\nTODAS as ${count} conversas devem ter outcome \"${outcome}\". NГЈo distribua вҖ”\\ngere TODAS com esse mesmo desfecho.\\n`\n  : `\\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\\nDISTRIBUIГҮГғO DE OUTCOMES (entre as ${count} conversas)\\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\\n- agendado (40%): atendente confirma DATA + HORA na Гәltima msg dela\\n- ghosting (25%): ГҡLTIMA msg Г© da ATENDENTE; ela propГҙs algo, paciente sumiu\\n- objecao_ativa (15%): paciente questiona preГ§o, compara concorrente, \"vou pensar\"\\n- escalada_humana (10%): orГ§amento formal, falar com mГ©dico, fora do fluxo\\n- contraindicacao (10%): paciente revela condiГ§ГЈo (gestante, isotretinoГӯna,\\n  autoimune) вҶ’ atendente orienta + escala (nunca marca direto)\\n`;\n\nconst systemPrompt = `VocГӘ Г© um gerador de conversas WhatsApp realistas entre pacientes e\natendentes de clГӯnicas de ESTГүTICA (botox, preenchimento, bioestimulador,\nharmonizaГ§ГЈo, peeling, tratamentos faciais e corporais). Nunca gera\nconversas de mГ©dico tradicional, dentista ou outro nicho.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nDNA DA CLГҚNICA (toda conversa deste batch respeita este DNA)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n${dnaJson}\n\nO DNA define a clГӯnica: tier, polГӯtica de preГ§o, tom, profissionais,\ncatГЎlogo de serviГ§os, origem tГӯpica do paciente, uso de prova social,\nvelocidade de conversГЈo, polГӯtica de contraindicaГ§ГЈo, follow-up.\nTODAS as ${count} conversas deste batch acontecem nesta MESMA clГӯnica вҖ” a\natendente mantГ©m voz e regras consistentes. O que varia Г© o PACIENTE.\n${outcomeBlock}\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nFORMATO DE SAГҚDA (TEXTO PURO, NГғO JSON)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nRetorne APENAS texto WhatsApp puro no formato:\n\nDD/MM/AAAA HH:MM - Nome do Paciente: mensagem\nDD/MM/AAAA HH:MM - Atendente: mensagem\nDD/MM/AAAA HH:MM - Nome do Paciente: mensagem\n...\n---CONVERSA---\nDD/MM/AAAA HH:MM - Outro Nome: mensagem\nDD/MM/AAAA HH:MM - Atendente: mensagem\n...\n\nREGRAS DO FORMATO (CRГҚTICAS):\n- A atendente Г© SEMPRE chamada literalmente \"Atendente\" (com A maiГәsculo).\n  NUNCA use o nome real da atendente, NUNCA use \"Aline\", \"Camila\", etc.\n- Cada conversa = 1 paciente Гәnico = 1 nome de paciente (consistente dentro\n  da conversa). Pacientes diferentes em conversas diferentes.\n- Separador entre conversas: \"---CONVERSA---\" em uma LINHA SOZINHA, sem texto\n  antes ou depois na mesma linha. Sem ---CONVERSA--- no inГӯcio nem no fim.\n- Datas: 26/02/2026 a 25/04/2026 (fevereiro a abril de 2026)\n- Horas: HH:MM em 24h, ex \"09:30\", \"14:15\", \"19:45\"\n- ProgressГЈo dentro da conversa: msgs prГіximas separadas por 30s a 15min;\n  msgs distantes (paciente pensa antes de responder) por horas\n- Cada conversa: mГӯnimo 4, ideal 8-12, mГЎximo 20 mensagens\n- SEM markdown, SEM \\`\\`\\`, SEM JSON, SEM cabeГ§alhos, SEM numeraГ§ГЈo\n- SEM texto explicativo antes da primeira msg ou depois da Гәltima\n\nREPITA O FORMATO MENTALMENTE ANTES DE GERAR:\n\"DD/MM/AAAA HH:MM - <NomeDoPaciente>: <texto>\" para paciente\n\"DD/MM/AAAA HH:MM - Atendente: <texto>\" para atendente\n\"---CONVERSA---\" sozinho em uma linha entre conversas\n\nNГғO copie nenhum exemplo de fora. NГғO use template fixo de fechamento.\nCada conversa tem ARCO PRГ“PRIO вҖ” outcome, horГЎrio proposto, forma de\nfechamento, pedido de sinal (se houver), TUDO varia.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nREGRAS UNIVERSAIS\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n\nPACIENTES\n- Nomes brasileiros variados (~85% femininos em estГ©tica, 15% masculinos)\n  Femininos: Amanda, Juliana, Camila, Mariana, Beatriz, Larissa, PatrГӯcia,\n  Renata, Fernanda, Luiza, Carolina, Tatiana, Aline, Vanessa, Bruna,\n  Gabriela, Isabela, Daniela, Roberta, Priscila, NatГЎlia, BГЎrbara, Sabrina,\n  MГҙnica, Adriana, ClГЎudia, LetГӯcia, Joana, Marina\n  Masculinos: JoГЈo, Pedro, Rafael, Bruno, Felipe, Lucas, Thiago\n- Use nome + sobrenome (\"Mariana Souza\", \"Bruno Almeida\") nas linhas, sempre\n  o MESMO nome dentro de uma mesma conversa.\n- Idade implГӯcita 25-65 (maioria 30-50)\n- MotivaГ§Гөes: autoestima, evento (casamento, formatura), manutenГ§ГЈo,\n  indicaГ§ГЈo de amiga, curiosidade.\n\nORIGEM DO CONTATO (respeita dna.dimensions.origem_paciente)\n- Google Ads: \"vi o anГәncio\", \"tГҙ pesquisando aqui em ${entry.profile.clinic.neighborhood}\"\n- Instagram/Reels: \"vi no insta de vcs\", \"vi um reels aqui\"\n- Google Maps orgГўnico: \"achei vcs no google\", \"vi as avaliaГ§Гөes\"\n- IndicaГ§ГЈo: \"minha amiga {Nome} fez aГӯ\", \"a {Nome} me passou o contato\"\n- Retorno: \"jГЎ tinha feito botox aГӯ ano passado, queria voltar\"\n\nCOMPORTAMENTO DA ATENDENTE (respeita o DNA)\n- PreГ§o: segue dna.dimensions.preco_politica\n  - \"aberto\": dГЎ valores (sempre com parcelamento OU PIX com desconto)\n  - \"aberto_com_sinal\": valor + pede sinal pra reservar\n  - \"faixa\": ancora \"a partir de R$X\" ou \"entre R$X e R$Y\"\n  - \"avaliacao\": \"o valor a gente passa na avaliaГ§ГЈo\"\n- EducaГ§ГЈo tГ©cnica, prova social, profissional, velocidade: segue o DNA\n- Tom: segue dna.dimensions.tom_voz вҖ” DETALHAMENTO OBRIGATГ“RIO:\n\n  вҖў \"marketeiro_emoji\" (popular):\n    - 1-3 emojis por msg da Atendente (рҹҳҠ вңЁ рҹ’ү рҹ’– рҹҘ° вқӨпёҸ рҹ”Ҙ рҹҷҢ)\n    - Frases CURTAS, em rajadas (quebra a msg em 2-3 partes/linhas)\n    - AbreviaГ§Гөes: vc, tb, tГҙ, pra, pq, mto, q, tbm, msm\n    - Linguagem de stories: \"amoraaa\", \"linda\", \"vem!\", \"corre!\"\n    - PROIBIDO: \"vocГӘ\", \"estГЎ\", \"para\", \"basta\", \"caso opte\", \"gostaria\"\n    - PressГЈo suave: \"agenda tГЎ quase fechando\", \"reserva agora\"\n    - Pede sinal sempre: \"PIX de R$ 50 pra reservar amor рҹ’–\"\n\n  вҖў \"amigavel\" (intermediГЎrio):\n    - 0-1 emoji ocasional, nem toda msg\n    - Frases mГ©dias, profissionais mas calorosas\n    - Mistura \"vc\" com \"vocГӘ\", abreviaГ§Гөes leves (\"tb\", \"nГ©\")\n    - Convida pra avaliaГ§ГЈo sem pressionar muito\n\n  вҖў \"formal_clinico\" (premium):\n    - ZERO emoji\n    - \"vocГӘ\", \"a senhora\", \"por favor\"\n    - Menciona Dra. proativamente, plano personalizado\n    - Frases completas, sem abreviaГ§ГЈo de WhatsApp\n    - Convite formal: \"posso agendar uma avaliaГ§ГЈo com a Dra. Renata?\"\n\nREALISMO DE CONVERSA\n- Mensagens curtas em rajadas (2-3 msgs seguidas mesmo remetente) sГЈo comuns\n- Linguagem informal PT-BR real: vc, tb, tГҙ, nГ©, pq, mto\n- Erros leves de digitaГ§ГЈo ocasionais (nГЈo em toda msg)\n- Atendente menciona bairro real (\"${entry.profile.clinic.neighborhood}\") e referГӘncia\n  (\"${entry.profile.clinic.reference}\") quando confirma localizaГ§ГЈo\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nABORDAGEM da atendente (varia entre as ${count} conversas):\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n- convite_avaliacao: convida pra avaliaГ§ГЈo antes de falar preГ§o\n- preco_direto: responde preГ§o logo, menciona condiГ§ГЈo e depois convida\n- antes_depois: menciona resultados/fotos primeiro e depois convida\n- rapport: pergunta o que incomoda, cria conexГЈo e depois convida\n\nSERVIГҮOS: usa o catГЎlogo em dna.services. Prioriza populares (botox,\npreenchimento, limpeza), cobre todo o catГЎlogo ao longo das conversas.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nANTI-REPETIГҮГғO (CRГҚTICO вҖ” nГЈo vire papagaio)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nVc vai gerar MUITAS conversas. Elas DEVEM parecer escritas por pessoas\ndiferentes em momentos diferentes. PROIBIDO copiar literalmente as\nmesmas frases entre conversas distintas вҖ” varia tudo: opening, oferta\nde horГЎrio, fechamento, pedido de sinal.\n\nREGRA: nenhuma frase exata da Atendente pode aparecer em mais de 1\nconversa neste batch. Se vc se pegar usando \"Oiii [Nome] рҹ’–\" duas\nvezes, REESCREVE a segunda diferente.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nBANCO DE VARIAГҮГ•ES (tom_voz=marketeiro_emoji) вҖ” INSPIRAГҮГғO, MISTURE\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nOpenings (Atendente cumprimentando paciente):\n  \"Oii [Nome]! tudo bem?\" / \"Oi flor рҹҢё\" / \"Oieee\" / \"Bom dia amor вҳҖпёҸ\" /\n  \"Oi linda рҹ’•\" / \"Oie [Nome]!! вңЁ\" / \"OlГЎ [Nome] tudo bem?\" /\n  \"Oi querida\" / \"Oi [Nome] рҹҳҠ que bom q vc chegou\"\n\nApresentar preГ§o (botox 3 ГЎreas):\n  \"3 ГЎreas sai R$ 1.100 amor рҹ’ү\" /\n  \"Г© R$ 450 por ГЎrea ou fechando 3 sai R$ 1.100 (vc economiza R$ 250!) вңЁ\" /\n  \"olha, por ГЎrea Г© 450 mas se vc quiser as 3 fecha em 1.100 рҹ’–\" /\n  \"valor Г© R$ 450 cada ГЎrea. As 3 saem por 1.100, dГЎ pra dividir tb\"\n\nProposta de horГЎrio:\n  \"tem terГ§a 10h ou quinta 16h\" / \"sexta de manhГЈ ou segunda Г  tarde, qual fica melhor?\" /\n  \"semana q vem tem quarta Г s 15h ou quinta Г s 11h\" /\n  \"essa semana ainda tem sexta 14h, quer?\" / \"posso te encaixar quinta Г s 17h\"\n\nPedido de sinal:\n  \"PIX de R$ 100 pra reservar рҹ’–\" / \"a gente pede um sinal de R$ 50 pra travar a vaga, ok?\" /\n  \"manda PIX de 100 q jГЎ garante\" / \"sinal Г© R$ 100, abate no dia\" /\n  \"pra travar o horГЎrio precisa de R$ 50 de sinal amor\"\n\nFechamento (Atendente confirmando):\n  \"prontinho, agendado [dia] Г s [hora] рҹ’•\" /\n  \"fechou amor, [dia] Г s [hora]. te espero!\" /\n  \"[dia] Г s [hora] entГЈo, anotado вңЁ\" /\n  \"prontГӯssimo, [dia] [hora]. qq coisa me chama!\"\n\nPaciente tambГ©m varia. Mensagens iniciais possГӯveis:\n  \"oi tudo bem? queria saber do botox\" / \"oi vi vcs no insta\" /\n  \"oie boa tarde, Г© sobre preГ§o de preenchimento\" / \"oi amiga me indicou aГӯ\" /\n  \"bom dia! qto custa botox?\" / \"oi! atendem hj?\" / \"oi fazem botox?\"\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nCOMPRIMENTO E ESTRUTURA DE CONVERSA\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nALVO MГүDIO: 8-12 msgs por conversa. NUNCA menos de 4.\n\nDistribuiГ§ГЈo esperada (conversa tГӯpica de 10 msgs):\n  - 1-2 msgs: paciente abre (saudaГ§ГЈo + dГәvida, em rajada Г s vezes)\n  - 1-2 msgs: Atendente cumprimenta + responde inicial\n  - 2-3 trocas: Atendente esclarece + paciente confirma interesse\n  - 1-2 msgs: Atendente propГөe horГЎrio + sinal\n  - 1-2 msgs: paciente fecha OU vira ghosting OU objeta\n\nGere ${count} conversas COMPLETAS (cada uma 8-12 msgs). NГғO truque conversas\npela metade. NГғO gere mais que ${count} conversas, mesmo que apareГ§a espaГ§o.\n\nLEMBRE: a Atendente Г© SEMPRE o nome literal \"Atendente\". NГЈo use o nome real.`;\n\nconst userPrompt = `Gere exatamente ${count} conversa${count > 1 ? 's' : ''} no formato texto WhatsApp especificado, separadas por \"---CONVERSA---\" em linha isolada. Cada conversa deve ter entre 8 e 12 mensagens. Atendente literal \"Atendente\". Retorne APENAS o texto, sem explicaГ§Гөes antes ou depois.`;\n\nreturn [{\n  json: {\n    slug,\n    label: entry.label,\n    description: entry.description,\n    tier: entry.tier,\n    profile: entry.profile,\n    target,\n    count,\n    outcome,\n    geminiPayload: {\n      model: 'gemini-2.5-flash',\n      contents: [\n        { role: 'user', parts: [{ text: userPrompt }] }\n      ],\n      systemInstruction: { parts: [{ text: systemPrompt }] },\n      generationConfig: {\n        temperature: 0.95,\n        maxOutputTokens: 8000,\n        responseMimeType: 'text/plain'\n      }\n    }\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $json.geminiPayload.model }}:generateContent?key={{ $env.GOOGLE_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: $json.geminiPayload.contents, systemInstruction: $json.geminiPayload.systemInstruction, generationConfig: $json.geminiPayload.generationConfig }) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-gemini",
      "name": "Gemini - Generate Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        710,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// Parse & Validate вҖ” Gemini text response вҶ’ Baileys flat batch\n// =====================================================================\n// LLM retorna texto WhatsApp puro:\n//   DD/MM/AAAA HH:MM - Nome: msg\n//   ---CONVERSA---\n//   ...\n//\n// Pipeline determinГӯstica:\n//   1. Strip code fences se vierem\n//   2. Split por ---CONVERSA---\n//   3. Per block: regex match-or-discard, mantГ©m sГі blocos com >=4 msgs\n//   4. Per linha: parse data+hora вҶ’ unix UTC seconds\n//   5. Detect 'Atendente' вҶ’ fromMe=true / pushName=null;\n//      else fromMe=false / pushName=Nome\n//   6. remoteJid = hash(patientName) вҶ’ 8 digits, prefix 5511 + 9\n//      (mesmo nome no MESMO bloco = mesmo remoteJid; entre blocos varia)\n//   7. messageType: 'conversation' constante\n//   8. Validator estrito (safety net вҖ” conversor jГЎ produz shape correto)\n// =====================================================================\nconst response = $input.first().json;\nconst meta = $('Build LLM Prompt').first().json;\n\nif (!response.candidates || !Array.isArray(response.candidates) || response.candidates.length === 0) {\n  throw new Error('Gemini response missing candidates: ' + JSON.stringify(response).slice(0, 500));\n}\n\nconst parts = response.candidates[0]?.content?.parts;\nif (!parts || !Array.isArray(parts) || parts.length === 0) {\n  throw new Error('Gemini candidates[0].content.parts missing or empty: ' + JSON.stringify(response).slice(0, 500));\n}\n\nlet rawText = parts.map(p => p.text || '').join('');\nif (!rawText || typeof rawText !== 'string') {\n  throw new Error('Gemini parts had no text content');\n}\n\n// Strip code fences (LLM Г s vezes envolve em ```)\nrawText = rawText.replace(/^```[a-z]*\\n?/i, '').replace(/\\n?```\\s*$/i, '').trim();\n\n// =====================================================================\n// Parser regex вҖ” espelha _MSG_RE do Python:\n//   ^(\\d{2}/\\d{2}/\\d{4})\\s(\\d{2}:\\d{2})\\s-\\s(.+?):\\s(.+)$\n// =====================================================================\nconst MSG_RE = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})\\s(\\d{2}):(\\d{2})\\s-\\s(.+?):\\s(.+)$/;\n\n// Split por ---CONVERSA--- em linha isolada (tolerante a espaГ§os/dashes extras)\nconst blocks = rawText.split(/\\n\\s*---+CONVERSA---+\\s*\\n/i);\n\n// =====================================================================\n// Hash determinГӯstico do nome do paciente вҶ’ 8 dГӯgitos.\n// remoteJid: '5511' + '9' + 8 dГӯgitos + '@s.whatsapp.net'  (13 chars apГіs 55)\n// =====================================================================\nconst hashName = (s) => {\n  let h = 0;\n  for (let i = 0; i < s.length; i++) {\n    h = ((h << 5) - h) + s.charCodeAt(i);\n    h |= 0;\n  }\n  return Math.abs(h);\n};\n\nconst makeRemoteJid = (patientName) => {\n  const eightDigits = String(hashName(patientName) % 100000000).padStart(8, '0');\n  return `55119${eightDigits}@s.whatsapp.net`;\n};\n\n// DD/MM/AAAA HH:MM вҶ’ unix seconds (UTC, evita drift de timezone)\nconst toUnixSeconds = (dd, mm, yyyy, hh, mi) => {\n  return Math.floor(Date.UTC(\n    parseInt(yyyy, 10),\n    parseInt(mm, 10) - 1,\n    parseInt(dd, 10),\n    parseInt(hh, 10),\n    parseInt(mi, 10)\n  ) / 1000);\n};\n\nconst isAtendente = (name) => name.trim().toLowerCase() === 'atendente';\n\nconst messages = [];\nconst stats = { blocks_seen: blocks.length, blocks_kept: 0, blocks_dropped: 0, lines_dropped: 0 };\n\nfor (const block of blocks) {\n  const lines = block.split('\\n').map((l) => l.replace(/\\r$/, '').trim()).filter((l) => l.length > 0);\n\n  // Coleta sГі linhas que batem com o formato\n  const matched = [];\n  for (const line of lines) {\n    const m = MSG_RE.exec(line);\n    if (m) {\n      matched.push(m);\n    } else {\n      stats.lines_dropped++;\n    }\n  }\n\n  // Match-or-discard por bloco: precisa >=4 linhas vГЎlidas\n  if (matched.length < 4) {\n    stats.blocks_dropped++;\n    if (matched.length > 0) {\n      console.log(`Block dropped: only ${matched.length} valid lines (min 4)`);\n    }\n    continue;\n  }\n\n  // Identifica patientName do bloco вҖ” primeiro emissor nГЈo-atendente\n  let patientName = null;\n  for (const m of matched) {\n    const sender = m[6].trim();\n    if (!isAtendente(sender)) {\n      patientName = sender;\n      break;\n    }\n  }\n  if (!patientName) {\n    stats.blocks_dropped++;\n    console.log('Block dropped: no patient sender found (only Atendente?)');\n    continue;\n  }\n\n  const remoteJid = makeRemoteJid(patientName);\n  stats.blocks_kept++;\n\n  for (const m of matched) {\n    const [, dd, mm, yyyy, hh, mi, sender, body] = m;\n    const fromMe = isAtendente(sender);\n    const ts = toUnixSeconds(dd, mm, yyyy, hh, mi);\n\n    messages.push({\n      remoteJid,\n      fromMe,\n      pushName: fromMe ? null : sender.trim(),\n      body: body.trim(),\n      messageType: 'conversation',\n      timestamp: ts\n    });\n  }\n}\n\nif (messages.length === 0) {\n  throw new Error(`No valid messages parsed. Stats: ${JSON.stringify(stats)}. Raw (first 500): ${rawText.slice(0, 500)}`);\n}\n\n// =====================================================================\n// Validator estrito (safety net вҖ” conversor produz shape correto)\n// =====================================================================\nfor (let i = 0; i < messages.length; i++) {\n  const msg = messages[i];\n  if (typeof msg.remoteJid !== 'string' || !msg.remoteJid.endsWith('@s.whatsapp.net')) {\n    throw new Error(`Message #${i} bad remoteJid: ${JSON.stringify(msg)}`);\n  }\n  if (typeof msg.fromMe !== 'boolean') {\n    throw new Error(`Message #${i} bad fromMe: ${JSON.stringify(msg)}`);\n  }\n  if (msg.fromMe ? msg.pushName !== null : typeof msg.pushName !== 'string') {\n    throw new Error(`Message #${i} bad pushName for fromMe=${msg.fromMe}: ${JSON.stringify(msg)}`);\n  }\n  if (typeof msg.body !== 'string' || msg.body.length === 0) {\n    throw new Error(`Message #${i} bad body: ${JSON.stringify(msg)}`);\n  }\n  if (msg.messageType !== 'conversation') {\n    throw new Error(`Message #${i} bad messageType: ${JSON.stringify(msg)}`);\n  }\n  if (!Number.isInteger(msg.timestamp) || msg.timestamp < 1700000000 || msg.timestamp > 1800000000) {\n    throw new Error(`Message #${i} bad timestamp: ${JSON.stringify(msg)}`);\n  }\n}\n\nconsole.log(`Parse stats: ${JSON.stringify(stats)} вҶ’ ${messages.length} msgs`);\n\n// SQL-escape pra Postgres node\nconst sqlEscape = (s) => String(s).replace(/'/g, \"''\");\n\nconst profileJson  = JSON.stringify(meta.profile);\nconst messagesJson = JSON.stringify(messages);\n\nreturn [{\n  json: {\n    slug: meta.slug,\n    label: meta.label,\n    description: meta.description,\n    profile: meta.profile,\n    target: meta.target,\n    count: meta.count,\n    outcome: meta.outcome,\n    batch_count: messages.length,\n    parse_stats: stats,\n    usage: response.usage || null,\n    sql: {\n      slug:        sqlEscape(meta.slug),\n      label:       sqlEscape(meta.label),\n      description: meta.description == null ? null : sqlEscape(meta.description),\n      profile:     sqlEscape(profileJson),\n      messages:    sqlEscape(messagesJson),\n      target:      meta.target,\n      created_by:  sqlEscape('n8n-simulator-v3')\n    }\n  }\n}];"
      },
      "id": "parse-messages",
      "name": "Parse & Validate Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM append_dev_synthetic_fixture_messages(\n  '{{ $json.sql.slug }}',\n  '{{ $json.sql.label }}',\n  {{ $json.sql.description === null ? 'NULL' : \"'\" + $json.sql.description + \"'\" }},\n  '{{ $json.sql.profile }}'::jsonb,\n  {{ $json.sql.target }},\n  '{{ $json.sql.messages }}'::jsonb,\n  '{{ $json.sql.created_by }}'\n);",
        "options": {}
      },
      "id": "append-fixture",
      "name": "Supabase - Append Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1170,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, slug: $json.out_slug, current_count: $json.out_current_count, target: $json.out_target, batch_added: $json.out_batch_added, done: $json.out_done, parse_stats: $('Parse & Validate Messages').first().json.parse_stats, usage: $('Parse & Validate Messages').first().json.usage }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Generate Fixture": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Messages": {
      "main": [
        [
          {
            "node": "Supabase - Append Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Append Messages": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "Gemini - Generate Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Messages": {
      "main": [
        [
          {
            "node": "Parse & Validate Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}