workflows/gitops-deployer.json
{
  "name": "GitOps - Deploy Workflows from GitHub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gitops-deploy",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-github",
      "name": "Webhook - GitHub Push",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "gitops-deploy"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Valida e parseia o webhook do GitHub (push event)\n// ============================================\n\nconst body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\n// Valida secret do webhook (opcional mas recomendado)\nconst githubEvent = headers['x-github-event'];\n\nif (githubEvent !== 'push') {\n  return [{ json: { ignore: true, reason: 'not_push_event', event: githubEvent } }];\n}\n\n// Filtra apenas commits que alteraram arquivos na pasta workflows/\nconst commits = body.commits || [];\nconst ref = body.ref || '';\n\n// Só processa push na branch main\nif (ref !== 'refs/heads/main') {\n  return [{ json: { ignore: true, reason: 'not_main_branch', ref } }];\n}\n\n// Coleta todos os arquivos de workflow modificados/adicionados\nconst workflowFiles = new Set();\n\nfor (const commit of commits) {\n  const allFiles = [\n    ...(commit.added || []),\n    ...(commit.modified || [])\n  ];\n  \n  for (const file of allFiles) {\n    if (file.startsWith('workflows/') && file.endsWith('.json')) {\n      // Ignora o próprio deployer pra evitar loop\n      if (!file.includes('gitops-deployer')) {\n        workflowFiles.add(file);\n      }\n    }\n  }\n}\n\nif (workflowFiles.size === 0) {\n  return [{ json: { ignore: true, reason: 'no_workflow_changes' } }];\n}\n\n// Monta info do repo pra baixar os arquivos\nconst repoFullName = body.repository?.full_name || '';\n\nreturn Array.from(workflowFiles).map(filePath => ({\n  json: {\n    ignore: false,\n    filePath,\n    fileName: filePath.split('/').pop().replace('.json', ''),\n    repoFullName,\n    branch: 'main',\n    rawUrl: `https://raw.githubusercontent.com/${repoFullName}/main/${filePath}`,\n    pusher: body.pusher?.name || 'unknown',\n    commitMessage: commits[commits.length - 1]?.message || ''\n  }\n}));"
      },
      "id": "parse-github-webhook",
      "name": "Parse GitHub Push",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-not-ignored",
              "leftValue": "={{ $json.ignore }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid-push",
      "name": "Tem Workflow Alterado?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.rawUrl }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "download-workflow-json",
      "name": "Download Workflow JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [930, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Busca se já existe um workflow com esse nome no n8n\n// para decidir se faz CREATE ou UPDATE\n// ============================================\n\nconst workflowData = $input.first().json;\nconst workflowName = workflowData.name;\n\n// Guarda o JSON completo do workflow baixado\nreturn [{\n  json: {\n    workflowName,\n    workflowData,\n    filePath: $('Tem Workflow Alterado?').first().json.filePath,\n    pusher: $('Tem Workflow Alterado?').first().json.pusher,\n    commitMessage: $('Tem Workflow Alterado?').first().json.commitMessage\n  }\n}];"
      },
      "id": "prepare-workflow-data",
      "name": "Prepara Dados do Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://n8n.easyscale.co/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "250"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "list-existing-workflows",
      "name": "n8n API - Lista Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1370, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Decide se é CREATE ou UPDATE\n// Busca workflow existente pelo nome\n// n8n v2: campos read-only devem ser removidos\n// ============================================\n\nconst prepData = $('Prepara Dados do Workflow').first().json;\nconst workflowName = prepData.workflowName;\nconst workflowData = prepData.workflowData;\n\nconst apiResponse = $input.first().json;\nconst existingWorkflows = apiResponse.data || apiResponse || [];\n\n// Procura workflow com o mesmo nome\nlet existingId = null;\nconst workflows = Array.isArray(existingWorkflows) ? existingWorkflows : [];\n\nfor (const wf of workflows) {\n  if (wf.name === workflowName) {\n    existingId = wf.id;\n    break;\n  }\n}\n\n// Prepara o payload para a API do n8n\n// Remove TODOS os campos read-only que a API rejeita\nconst cleanWorkflow = { ...workflowData };\ndelete cleanWorkflow.id;\ndelete cleanWorkflow.createdAt;\ndelete cleanWorkflow.updatedAt;\ndelete cleanWorkflow.active;\ndelete cleanWorkflow.versionId;\ndelete cleanWorkflow.tags;\ndelete cleanWorkflow.staticData;\ndelete cleanWorkflow.meta;\ndelete cleanWorkflow.pinData;\n\nreturn [{\n  json: {\n    action: existingId ? 'update' : 'create',\n    existingId,\n    workflowName,\n    workflowPayload: cleanWorkflow,\n    filePath: prepData.filePath,\n    pusher: prepData.pusher,\n    commitMessage: prepData.commitMessage\n  }\n}];"
      },
      "id": "decide-create-or-update",
      "name": "Create ou Update?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-is-update",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-action",
      "name": "É Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1830, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://n8n.easyscale.co/api/v1/workflows/{{ $json.existingId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.workflowPayload) }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "api-update-workflow",
      "name": "n8n API - Update Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.easyscale.co/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.workflowPayload) }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "api-create-workflow",
      "name": "n8n API - Create Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 420]
    },
    {
      "parameters": {
        "jsCode": "// Extrai o ID do workflow criado/atualizado\nconst response = $input.first().json;\nconst context = $('Create ou Update?').first().json;\n\nconst body = response.body || response;\nconst statusCode = response.statusCode || 200;\nconst workflowId = body.id || context.existingId || 'unknown';\n\nreturn [{\n  json: {\n    success: statusCode >= 200 && statusCode < 300,\n    action: context.action,\n    workflowName: context.workflowName,\n    workflowId,\n    filePath: context.filePath,\n    pusher: context.pusher,\n    commitMessage: context.commitMessage,\n    statusCode,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-result",
      "name": "Resultado do Deploy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.easyscale.co/api/v1/workflows/{{ $json.workflowId }}/activate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "activate-workflow",
      "name": "n8n API - Activate Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2530, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'deployed_and_activated', workflow: $('Resultado do Deploy').first().json.workflowName, action: $('Resultado do Deploy').first().json.action, id: $('Resultado do Deploy').first().json.workflowId, activated: true }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond - Deploy OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2760, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'skipped', reason: $json.reason || 'no_workflow_changes' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-skipped",
      "name": "Respond - Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 500]
    }
  ],
  "connections": {
    "Webhook - GitHub Push": {
      "main": [
        [
          {
            "node": "Parse GitHub Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GitHub Push": {
      "main": [
        [
          {
            "node": "Tem Workflow Alterado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Workflow Alterado?": {
      "main": [
        [
          {
            "node": "Download Workflow JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Workflow JSON": {
      "main": [
        [
          {
            "node": "Prepara Dados do Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Dados do Workflow": {
      "main": [
        [
          {
            "node": "n8n API - Lista Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n API - Lista Workflows": {
      "main": [
        [
          {
            "node": "Create ou Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ou Update?": {
      "main": [
        [
          {
            "node": "É Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Update?": {
      "main": [
        [
          {
            "node": "n8n API - Update Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "n8n API - Create Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n API - Update Workflow": {
      "main": [
        [
          {
            "node": "Resultado do Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n API - Create Workflow": {
      "main": [
        [
          {
            "node": "Resultado do Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado do Deploy": {
      "main": [
        [
          {
            "node": "n8n API - Activate Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n API - Activate Workflow": {
      "main": [
        [
          {
            "node": "Respond - Deploy OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "GitOps",
      "id": "5"
    },
    {
      "name": "Infrastructure",
      "id": "6"
    }
  ]
}
