workflows/legacy-analyzer-trigger.json
{
  "name": "Legacy Analyzer - Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "legacy-analyzer-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Trigger LA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "legacy-analyzer-trigger"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// Validate clinic_id — fail fast if missing/empty.\n// LA already validates clinic exists in sf_clinics (404 fallback) and\n// owns the onboarding_step transitions (learning at start, review at\n// end), so this workflow is a thin proxy: webhook → call LA → respond.\n// =====================================================================\nconst body = $input.first().json.body || {};\nconst clinicId = String(body.clinic_id || '').trim();\n\nif (!clinicId) {\n  throw new Error('clinic_id obrigatorio');\n}\n\nreturn [{ json: { clinic_id: clinicId } }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LEGACY_ANALYZER_URL }}/analyze/{{ $node['Validate Input'].json.clinic_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json",
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "call-la",
      "name": "Call Legacy Analyzer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "la-accepted",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 202,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-la-status",
      "name": "LA Accepted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        930,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, job_id: $json.body.job_id, clinic_id: $json.body.clinic_id, status: $json.body.status }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'legacy analyzer rejected job', upstream_status: $json.statusCode, upstream_body: $json.body }) }}",
        "options": {
          "responseCode": 502
        }
      },
      "id": "respond-failure",
      "name": "Respond - Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Trigger LA": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call Legacy Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Legacy Analyzer": {
      "main": [
        [
          {
            "node": "LA Accepted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LA Accepted?": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
