workflows/sdr-gatekeeper-inbound.json
{
  "name": "SDR Gatekeeper - Inbound Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdr-gatekeeper-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Webhook - Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "sdr-gatekeeper-inbound"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Extrai dados relevantes do payload da Evolution API\n// Formato: messages.upsert event\n// ============================================\n\nconst body = $input.first().json.body;\n\n// Ignora mensagens que não são do tipo esperado\nif (!body || !body.data) {\n  return [{ json: { ignore: true, reason: 'no_data' } }];\n}\n\nconst data = body.data;\nconst event = body.event;\n\n// Só processa messages.upsert\nif (event !== 'messages.upsert') {\n  return [{ json: { ignore: true, reason: 'not_message_event', event } }];\n}\n\nconst message = data.message;\nconst key = data.key;\n\n// Ignora mensagens enviadas por nós (outbound)\nif (key.fromMe === true) {\n  return [{ json: { ignore: true, reason: 'from_me' } }];\n}\n\n// Ignora mensagens de grupo\nif (key.remoteJid.includes('@g.us')) {\n  return [{ json: { ignore: true, reason: 'group_message' } }];\n}\n\n// Ignora status broadcasts\nif (key.remoteJid === 'status@broadcast') {\n  return [{ json: { ignore: true, reason: 'status_broadcast' } }];\n}\n\n// Extrai conteúdo da mensagem\nlet messageContent = '';\nlet messageType = 'text';\n\nif (message.conversation) {\n  messageContent = message.conversation;\n} else if (message.extendedTextMessage?.text) {\n  messageContent = message.extendedTextMessage.text;\n} else if (message.imageMessage?.caption) {\n  messageContent = message.imageMessage.caption;\n  messageType = 'image';\n} else if (message.audioMessage) {\n  messageContent = '[audio]';\n  messageType = 'audio';\n} else if (message.documentMessage) {\n  messageContent = '[document]';\n  messageType = 'document';\n} else if (message.reactionMessage) {\n  messageContent = message.reactionMessage.text || '';\n  messageType = 'reaction';\n} else {\n  // Tipo de mensagem não suportado\n  return [{ json: { ignore: true, reason: 'unsupported_message_type' } }];\n}\n\n// Monta payload limpo\nreturn [{\n  json: {\n    ignore: false,\n    remoteJid: key.remoteJid,\n    pushName: data.pushName || '',\n    wamid: key.id,\n    messageContent: messageContent.trim(),\n    messageType,\n    instanceName: body.instance || '',\n    timestamp: data.messageTimestamp || Math.floor(Date.now() / 1000),\n    // Número limpo (sem @s.whatsapp.net)\n    phoneNumber: key.remoteJid.replace('@s.whatsapp.net', '')\n  }\n}];"
      },
      "id": "parse-evolution-payload",
      "name": "Parse Evolution Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-ignore",
              "leftValue": "={{ $json.ignore }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid-messages",
      "name": "Filtro - Mensagem Válida?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-reset",
              "leftValue": "={{ $json.messageContent.trim().toLowerCase() }}",
              "rightValue": "reset",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-reset",
      "name": "É Reset?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        930,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Apaga eventos, mensagens e conversas do remote_jid\nDELETE FROM gk_events WHERE conversation_id IN (\n  SELECT id FROM gk_conversations WHERE remote_jid = '{{ $json.remoteJid }}'\n);\nDELETE FROM gk_messages WHERE conversation_id IN (\n  SELECT id FROM gk_conversations WHERE remote_jid = '{{ $json.remoteJid }}'\n);\nDELETE FROM gk_conversations WHERE remote_jid = '{{ $json.remoteJid }}';",
        "options": {}
      },
      "id": "reset-conversation",
      "name": "Supabase - Reset Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": {{ JSON.stringify($('Parse Evolution Payload').first().json.remoteJid) }},\n  \"text\": \"Conversa resetada. Pode começar novamente.\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-reset-confirmation",
      "name": "Evolution - Confirma Reset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1470,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', action: 'reset', remoteJid: $('Parse Evolution Payload').first().json.remoteJid }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-response-reset",
      "name": "Respond - Reset OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1740,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(c.id::text, 'none') AS id,\n  COALESCE(c.status, 'new') AS status,\n  COALESCE(c.message_count, 0) AS message_count,\n  COALESCE(c.fastapi_session_id, '') AS fastapi_session_id,\n  COALESCE(c.clinic_name, '') AS clinic_name,\n  COALESCE(c.remote_jid, '') AS clinic_phone,\n  CASE WHEN c.id IS NULL THEN true ELSE false END AS is_new\nFROM (SELECT 1) AS dummy\nLEFT JOIN gk_conversations c\n  ON c.remote_jid = '{{ $json.remoteJid }}'\n  AND c.status IN ('greeting_sent', 'gathering_decisor', 'stalled')\nORDER BY c.created_at DESC NULLS LAST\nLIMIT 1;",
        "options": {}
      },
      "id": "lookup-conversation",
      "name": "Supabase - Busca Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Merge dados da mensagem com dados da conversa existente\n// A query sempre retorna 1 row (LEFT JOIN com dummy)\nconst message = $('É Reset?').first().json;\nconst dbResults = $input.first().json;\n\nconst isNew = dbResults.is_new === true || dbResults.id === 'none';\n\nreturn [{\n  json: {\n    ...message,\n    conversationId: isNew ? null : dbResults.id,\n    isNewConversation: isNew,\n    fastapiSessionId: isNew ? null : (dbResults.fastapi_session_id || null),\n    currentStatus: isNew ? null : dbResults.status,\n    clinicName: isNew ? '' : (dbResults.clinic_name || ''),\n    clinicPhone: isNew ? message.phoneNumber : (dbResults.clinic_phone || message.phoneNumber)\n  }\n}];"
      },
      "id": "merge-context",
      "name": "Merge - Contexto da Conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1430,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-new",
              "leftValue": "={{ $json.isNewConversation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-new-conversation",
      "name": "Nova Conversa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1660,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_conversations (remote_jid, push_name, status, evolution_instance, message_count, last_message_at)\nVALUES (\n  '{{ $json.remoteJid }}',\n  '{{ $json.pushName }}',\n  'gathering_decisor',\n  '{{ $json.instanceName }}',\n  1,\n  NOW()\n)\nRETURNING id, status;",
        "options": {}
      },
      "id": "create-conversation",
      "name": "Supabase - Cria Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1900,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_conversations\nSET message_count = message_count + 1,\n    last_message_at = NOW(),\n    status = CASE WHEN status = 'stalled' THEN 'gathering_decisor' ELSE status END,\n    expires_at = NOW() + INTERVAL '4 hours'\nWHERE id = '{{ $json.conversationId }}'\nRETURNING id, status;",
        "options": {}
      },
      "id": "update-conversation",
      "name": "Supabase - Atualiza Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1900,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepara contexto unificado após criar/atualizar conversa\nconst messageData = $('Merge - Contexto da Conversa').first().json;\nconst dbResult = $input.first().json;\n\nconst conversationId = dbResult.id || messageData.conversationId;\n\nreturn [{\n  json: {\n    conversationId,\n    remoteJid: messageData.remoteJid,\n    pushName: messageData.pushName,\n    messageContent: messageData.messageContent,\n    messageType: messageData.messageType,\n    phoneNumber: messageData.phoneNumber,\n    wamid: messageData.wamid,\n    isNewConversation: messageData.isNewConversation,\n    fastapiSessionId: messageData.fastapiSessionId,\n    instanceName: messageData.instanceName,\n    clinicName: messageData.clinicName,\n    clinicPhone: messageData.clinicPhone\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepara Contexto Unificado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_leads\nSET status = 'gathering_decisor', updated_at = NOW()\nWHERE conversation_id = '{{ $json.conversationId }}'\n  AND status = 'created';",
        "options": {}
      },
      "id": "update-lead-gathering",
      "name": "Supabase - Atualiza Lead gathering_decisor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2140,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_messages (conversation_id, direction, content, message_type, wamid)\nVALUES (\n  '{{ $json.conversationId }}',\n  'inbound',\n  $gk${{ $json.messageContent }}$gk$,\n  '{{ $json.messageType }}',\n  '{{ $json.wamid }}'\n);",
        "options": {}
      },
      "id": "save-inbound-message",
      "name": "Supabase - Salva Msg Inbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2370,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  direction,\n  content,\n  stage,\n  created_at\nFROM gk_messages\nWHERE conversation_id = '{{ $json.conversationId }}'\nORDER BY created_at ASC\nLIMIT 50;",
        "options": {}
      },
      "id": "fetch-message-history",
      "name": "Supabase - Busca Histórico",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2370,
        540
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Monta payload para o FastAPI conforme contrato real\n// Request: { clinic_name, clinic_phone, conversation_history, latest_message }\n// Header: X-API-Key\n// ============================================\n\nconst context = $('Prepara Contexto Unificado').first().json;\nconst historyRows = $('Supabase - Busca Histórico').all();\n\n// Monta conversation_history como array de objetos\n// Formato: [{ role: \"human\"|\"agent\", content: \"...\" }]\n// FastAPI valida regex ^(agent|human)$\nconst conversationHistory = historyRows\n  .filter(item => item.json && item.json.content)\n  .map(item => ({\n    role: item.json.direction === 'inbound' ? 'human' : 'agent',\n    content: item.json.content,\n    ...(item.json.stage ? { stage: item.json.stage } : {})\n  }));\n\nreturn [{\n  json: {\n    // Dados para o HTTP Request\n    clinicName: context.clinicName || '',\n    clinicPhone: context.clinicPhone || context.phoneNumber,\n    conversationHistory: conversationHistory,\n    latestMessage: context.messageContent,\n    // Dados preservados para os próximos nodes\n    conversationId: context.conversationId,\n    remoteJid: context.remoteJid,\n    instanceName: context.instanceName,\n    pushName: context.pushName,\n    phoneNumber: context.phoneNumber\n  }\n}];"
      },
      "id": "prepare-fastapi-payload",
      "name": "Prepara Payload FastAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ade.easyscale.co/v1/sdr/gatekeeper",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.FASTAPI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinic_name\": {{ JSON.stringify($json.clinicName) }},\n  \"clinic_phone\": {{ JSON.stringify($json.clinicPhone) }},\n  \"conversation_history\": {{ JSON.stringify($json.conversationHistory) }},\n  \"latest_message\": {{ JSON.stringify($json.latestMessage) }}\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "call-fastapi",
      "name": "HTTP - FastAPI Gatekeeper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2830,
        540
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Processa resposta do FastAPI - Contrato Real\n// Response: {\n//   response_message: string,\n//   should_send_message: boolean,\n//   conversation_stage: string,  ← vocabulário interno do agente\n//   extracted_manager_contact: string|null,\n//   extracted_manager_email: string|null,\n//   extracted_manager_name: string|null\n// }\n//\n// Mapeamento de stages (FastAPI interno → pipeline SDR):\n//   opening / requesting / handling_objection → gathering_decisor\n//   success                                   → decisor_captured\n//   failed                                    → denied\n// ============================================\n\nconst response = $input.first().json;\nconst payload = $('Prepara Payload FastAPI').first().json;\n\nconst body = response.body || response;\n\nconst responseMessage = body.response_message || '';\nconst shouldSendMessage = body.should_send_message === true;\nconst extractedManagerContact = body.extracted_manager_contact || null;\nconst extractedManagerEmail = body.extracted_manager_email || null;\nconst extractedManagerName = body.extracted_manager_name || null;\n\n// Traduz stage interno do GatekeeperAgent para stage do pipeline SDR\nconst stageMap = {\n  'opening': 'gathering_decisor',\n  'requesting': 'gathering_decisor',\n  'handling_objection': 'gathering_decisor',\n  'success': 'decisor_captured',\n  'failed': 'denied'\n};\nconst rawStage = body.conversation_stage || 'requesting';\nconst conversationStage = stageMap[rawStage] || 'gathering_decisor';\n\nreturn [{\n  json: {\n    conversationId: payload.conversationId,\n    rawStage,\n    remoteJid: payload.remoteJid,\n    instanceName: payload.instanceName,\n    responseMessage,\n    shouldSendMessage,\n    conversationStage,\n    extractedManagerContact,\n    extractedManagerEmail,\n    extractedManagerName\n  }\n}];"
      },
      "id": "process-fastapi-response",
      "name": "Processa Resposta FastAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_conversations\nSET\n  status = '{{ $json.conversationStage }}',\n  decisor_name = CASE\n    WHEN {{ $json.extractedManagerName ? 'true' : 'false' }} = 'true'\n    THEN $gk${{ $json.extractedManagerName }}$gk$\n    ELSE decisor_name\n  END,\n  decisor_phone = CASE\n    WHEN {{ $json.extractedManagerContact ? 'true' : 'false' }} = 'true'\n    THEN $gk${{ $json.extractedManagerContact }}$gk$\n    ELSE decisor_phone\n  END,\n  decisor_email = CASE\n    WHEN {{ $json.extractedManagerEmail ? 'true' : 'false' }} = 'true'\n    THEN $gk${{ $json.extractedManagerEmail }}$gk$\n    ELSE decisor_email\n  END\nWHERE id = '{{ $json.conversationId }}';",
        "options": {}
      },
      "id": "update-conversation-status",
      "name": "Supabase - Atualiza Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3300,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_messages (conversation_id, direction, content, message_type, stage)\nVALUES (\n  '{{ $json.conversationId }}',\n  'outbound',\n  $gk${{ $json.responseMessage }}$gk$,\n  'text',\n  '{{ $json.rawStage }}'\n);",
        "options": {}
      },
      "id": "save-outbound-message",
      "name": "Supabase - Salva Msg Outbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3300,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-should-send",
              "leftValue": "={{ $json.shouldSendMessage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-should-send",
      "name": "Deve Enviar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3530,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": {{ JSON.stringify($json.remoteJid) }},\n  \"text\": {{ JSON.stringify($json.responseMessage) }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-whatsapp-reply",
      "name": "Evolution API - Envia Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        440
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', processed: true }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-response-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3990,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', processed: false, reason: 'no_reply_needed' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-response-no-reply",
      "name": "Respond - Sem Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3760,
        660
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', ignored: true, reason: $json.reason || 'filtered' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-response-ignored",
      "name": "Respond - Ignorada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log de evento: decisor/gestor capturado (por phone ou email)\nconst data = $('Processa Resposta FastAPI').first().json;\n\nif (data.conversationStage === 'decisor_captured' &&\n    (data.extractedManagerName || data.extractedManagerContact || data.extractedManagerEmail)) {\n  return [{\n    json: {\n      conversationId: data.conversationId,\n      eventType: 'decisor_info_received',\n      eventData: JSON.stringify({\n        manager_name: data.extractedManagerName,\n        manager_contact: data.extractedManagerContact,\n        manager_email: data.extractedManagerEmail\n      })\n    }\n  }];\n}\n\n// Sem evento especial\nreturn [];"
      },
      "id": "check-decisor-event",
      "name": "Evento - Decisor Capturado?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        820
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_events (conversation_id, event_type, event_data)\nVALUES (\n  '{{ $json.conversationId }}',\n  '{{ $json.eventType }}',\n  '{{ $json.eventData }}'::jsonb\n);",
        "options": {}
      },
      "id": "save-event",
      "name": "Supabase - Salva Evento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3990,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT place_id, lead_score, ads_group\nFROM gk_leads\nWHERE conversation_id = '{{ $json.conversationId }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "busca-place-id-do-lead",
      "name": "Supabase - Busca place_id do Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4220,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clinic_decisors (\n  place_id,\n  gk_conversation_id,\n  clinic_name,\n  clinic_phone,\n  manager_name,\n  manager_phone,\n  manager_email,\n  lead_score,\n  ads_group,\n  status\n) VALUES (\n  $gk${{ $json.place_id || '' }}$gk$,\n  '{{ $('Evento - Decisor Capturado?').first().json.conversationId }}',\n  $gk${{ $('Prepara Contexto Unificado').first().json.clinicName || '' }}$gk$,\n  $gk${{ $('Prepara Contexto Unificado').first().json.clinicPhone || '' }}$gk$,\n  $gk${{ $('Processa Resposta FastAPI').first().json.extractedManagerName || '' }}$gk$,\n  $gk${{ $('Processa Resposta FastAPI').first().json.extractedManagerContact || '' }}$gk$,\n  $gk${{ $('Processa Resposta FastAPI').first().json.extractedManagerEmail || '' }}$gk$,\n  {{ $json.lead_score || 0 }},\n  $gk${{ $json.ads_group || '' }}$gk$,\n  'captured'\n)\nON CONFLICT (manager_phone) WHERE manager_phone IS NOT NULL DO NOTHING;",
        "options": {}
      },
      "id": "insert-clinic-decisors",
      "name": "Supabase - Insere clinic_decisors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4450,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_leads\nSET status = 'decisor_captured', updated_at = NOW()\nWHERE conversation_id = '{{ $('Evento - Decisor Capturado?').first().json.conversationId }}';",
        "options": {}
      },
      "id": "update-lead-decisor-captured",
      "name": "Supabase - Atualiza Lead decisor_captured",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4680,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-failed",
              "leftValue": "={{ $json.rawStage }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-success",
              "leftValue": "={{ $json.rawStage }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-conversation-ended",
      "name": "Conversa Encerrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3300,
        980
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT direction, content, stage, created_at\nFROM gk_messages\nWHERE conversation_id = '{{ $(\"Processa Resposta FastAPI\").first().json.conversationId }}'\nORDER BY created_at ASC;",
        "options": {}
      },
      "id": "fetch-full-history",
      "name": "Supabase - Histórico Completo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3300,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Agrega mensagens e monta prompt para o GLM avaliar a conversa\nconst messages = $input.all().map(item => item.json);\nconst gkData = $(\"Processa Resposta FastAPI\").first().json;\nconst clinicName = $(\"Prepara Contexto Unificado\").first().json.clinicName || \"Clínica\";\n\nconst conversationText = messages\n  .filter(msg => msg.content && msg.content.trim())\n  .map(msg => {\n    const speaker = msg.direction === \"outbound\" ? \"Sofia (SDR)\" : \"Recepcionista\";\n    return speaker + \": \" + msg.content.trim();\n  })\n  .join(\"\\n\");\n\nconst systemPrompt = \"Você é um avaliador de conversas de SDR (Sales Development Rep).\\n\" +\n  \"Analise a conversa entre Sofia (SDR da EasyScale) e uma recepcionista de clínica médica.\\n\" +\n  \"Objetivo da Sofia: coletar o contato (WhatsApp ou email) do gestor/decisor da clínica.\\n\\n\" +\n  \"Cenários conhecidos (para referência):\\n\" +\n  \"- cooperative: recepcionista cooperativa, passa contato diretamente\\n\" +\n  \"- ask_data_then_pass: pede dados da Sofia antes de passar contato\\n\" +\n  \"- reverse_contact: pede que Sofia deixe contato para o gestor ligar\\n\" +\n  \"- email_only: aceita apenas email\\n\" +\n  \"- soft_refusal: evasiva, tenta adiar\\n\" +\n  \"- hard_refusal: recusa firme, baseada em política\\n\\n\" +\n  \"Retorne SOMENTE um JSON válido (sem markdown, sem blocos de código):\\n\" +\n  \"IMPORTANTE: quality_score deve ser um número entre 0.0 e 1.0 (ex: 0.3, 0.7, 1.0).\\n\" +\n  \"{\\n\" +\n  \"  \\\"quality_score\\\": 0.0,\\n\" +\n  \"  \\\"outcome_label\\\": \\\"SUCCESS\\\",\\n\" +\n  \"  \\\"outcome_reason\\\": \\\"string curta\\\",\\n\" +\n  \"  \\\"sofia_did_well\\\": [\\\"ponto1\\\"],\\n\" +\n  \"  \\\"sofia_should_improve\\\": [\\\"ponto1\\\"],\\n\" +\n  \"  \\\"is_new_pattern\\\": false,\\n\" +\n  \"  \\\"suggested_scenario_name\\\": \\\"\\\"\\n\" +\n  \"}\\n\\n\" +\n  \"Valores válidos para outcome_label:\\n\" +\n  \"SUCCESS, EMAIL_SUCCESS, GRACEFUL_DENIED, SLOW_EXIT, STUCK, BLOCKED_RISK\";\n\nconst userMessage = \"Stage final do sistema: \" + gkData.rawStage + \"\\nClínica: \" + clinicName + \"\\n\\nConversa:\\n\" + conversationText;\n\nreturn [{\n  json: {\n    conversationId: gkData.conversationId,\n    remoteJid: $(\"Prepara Contexto Unificado\").first().json.remoteJid || \"\",\n    clinicName,\n    rawStage: gkData.rawStage,\n    conversationText,\n    glmMessages: [\n      { role: \"system\", content: systemPrompt },\n      { role: \"user\", content: userMessage }\n    ]\n  }\n}];"
      },
      "id": "build-glm-prompt",
      "name": "Code - Monta Prompt GLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3530,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.bigmodel.cn/api/paas/v4/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GLM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"glm-5\",\n  \"messages\": {{ JSON.stringify($json.glmMessages) }},\n  \"temperature\": 0.1,\n  \"max_tokens\": 6000\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-glm-eval",
      "name": "HTTP - GLM Avalia Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        1200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst promptData = $(\"Code - Monta Prompt GLM\").first().json;\n\n// Extrai conteúdo da resposta GLM (formato OpenAI-compatible)\nconst rawContent = response.choices && response.choices[0] && response.choices[0].message\n  ? response.choices[0].message.content\n  : \"\";\n\nlet evaluation = {};\ntry {\n  // Remove markdown code blocks se o GLM retornar com eles\n  const cleaned = rawContent.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n  evaluation = JSON.parse(cleaned);\n} catch (e) {\n  evaluation = {\n    quality_score: 0.5,\n    outcome_label: \"UNSCORED\",\n    outcome_reason: \"Falha ao parsear resposta do GLM: \" + rawContent.substring(0, 100),\n    sofia_did_well: [],\n    sofia_should_improve: [],\n    is_new_pattern: false,\n    suggested_scenario_name: \"\"\n  };\n}\n\nreturn [{\n  json: {\n    conversationId: promptData.conversationId,\n    remoteJid: promptData.remoteJid || \"\",\n    clinicName: promptData.clinicName,\n    rawStage: promptData.rawStage,\n    conversationText: promptData.conversationText,\n    rawGlmResponse: rawContent,\n    qualityScore: Math.min(1.0, Math.max(0.0, evaluation.quality_score !== undefined ? parseFloat(evaluation.quality_score) : 0.5)),\n    outcomeLabel: evaluation.outcome_label || \"UNSCORED\",\n    outcomeReason: evaluation.outcome_reason || \"\",\n    sofiaDidWell: JSON.stringify(evaluation.sofia_did_well || []),\n    sofiaShoulImprove: JSON.stringify(evaluation.sofia_should_improve || []),\n    isNewPattern: evaluation.is_new_pattern || false,\n    suggestedScenarioName: evaluation.suggested_scenario_name || \"\"\n  }\n}];"
      },
      "id": "process-glm-response",
      "name": "Code - Processa Resposta GLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3990,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_discovered_cases (\n  conversation_id,\n  clinic_name,\n  final_stage,\n  quality_score,\n  outcome_label,\n  outcome_reason,\n  sofia_did_well,\n  sofia_should_improve,\n  is_new_pattern,\n  suggested_scenario_name,\n  full_conversation,\n  raw_glm_response,\n  remote_jid\n) VALUES (\n  '{{ $json.conversationId }}',\n  $gk${{ $json.clinicName }}$gk$,\n  '{{ $json.rawStage }}',\n  {{ $json.qualityScore }},\n  '{{ $json.outcomeLabel }}',\n  $gk${{ $json.outcomeReason }}$gk$,\n  $gk${{ $json.sofiaDidWell }}$gk$::jsonb,\n  $gk${{ $json.sofiaShoulImprove }}$gk$::jsonb,\n  {{ $json.isNewPattern }},\n  $gk${{ $json.suggestedScenarioName }}$gk$,\n  $gk${{ $json.conversationText }}$gk$,\n  $gk${{ $json.rawGlmResponse }}$gk$,\n  '{{ $json.remoteJid }}'\n);",
        "options": {}
      },
      "id": "save-discovery",
      "name": "Supabase - Salva Descoberta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4220,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.easyscale.co/webhook/sdr-gatekeeper-outbound",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"inbound_cycle\",\n  \"trigger_reason\": {{ JSON.stringify($('Processa Resposta FastAPI').first().json.rawStage) }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "trigger-outbound-cycle",
      "name": "HTTP - Dispara Outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3990,
        980
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-reset-cooldown",
      "name": "Wait - Reset Cooldown",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3760,
        980
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Auto-reset ao encerrar conversa (limpa DB para o próximo ciclo)\nDELETE FROM gk_events WHERE conversation_id IN (\n  SELECT id FROM gk_conversations WHERE remote_jid = '{{ $('Prepara Contexto Unificado').first().json.remoteJid }}'\n);\nDELETE FROM gk_messages WHERE conversation_id IN (\n  SELECT id FROM gk_conversations WHERE remote_jid = '{{ $('Prepara Contexto Unificado').first().json.remoteJid }}'\n);\nDELETE FROM gk_conversations\nWHERE remote_jid = '{{ $('Prepara Contexto Unificado').first().json.remoteJid }}';",
        "options": {}
      },
      "id": "auto-reset-conversation",
      "name": "Supabase - Auto Reset",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3530,
        980
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": {{ JSON.stringify($('Prepara Contexto Unificado').first().json.remoteJid) }},\n  \"text\": \"reset\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-reset-to-sim",
      "name": "Evolution - Envia Reset Sim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3645,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-low-score",
              "leftValue": "={{ $json.qualityScore }}",
              "rightValue": 0.5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "cond-new-pattern",
              "leftValue": "={{ $json.isNewPattern }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "check-auto-tune",
      "name": "Auto-tune?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4450,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/jefersonalvarenga/ai-decision-engine/actions/workflows/auto-tune-from-real.yml/dispatches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"quality_threshold\": \"0.6\",\n    \"since_hours\": \"48\",\n    \"limit\": \"10\"\n  }\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "dispatch-auto-tune",
      "name": "HTTP - Dispara Auto-tune",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4680,
        1120
      ]
    }
  ],
  "connections": {
    "Webhook - Evolution API": {
      "main": [
        [
          {
            "node": "Parse Evolution Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evolution Payload": {
      "main": [
        [
          {
            "node": "Filtro - Mensagem Válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro - Mensagem Válida?": {
      "main": [
        [
          {
            "node": "É Reset?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Ignorada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reset?": {
      "main": [
        [
          {
            "node": "Supabase - Reset Conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Busca Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Reset Conversa": {
      "main": [
        [
          {
            "node": "Evolution - Confirma Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - Confirma Reset": {
      "main": [
        [
          {
            "node": "Respond - Reset OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Busca Conversa": {
      "main": [
        [
          {
            "node": "Merge - Contexto da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Contexto da Conversa": {
      "main": [
        [
          {
            "node": "Nova Conversa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nova Conversa?": {
      "main": [
        [
          {
            "node": "Respond - Ignorada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Atualiza Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Cria Conversa": {
      "main": [
        [
          {
            "node": "Prepara Contexto Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Atualiza Conversa": {
      "main": [
        [
          {
            "node": "Prepara Contexto Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Contexto Unificado": {
      "main": [
        [
          {
            "node": "Supabase - Salva Msg Inbound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase - Busca Histórico",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase - Atualiza Lead gathering_decisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Atualiza Lead gathering_decisor": {
      "main": [
        []
      ]
    },
    "Supabase - Busca Histórico": {
      "main": [
        [
          {
            "node": "Prepara Payload FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Payload FastAPI": {
      "main": [
        [
          {
            "node": "HTTP - FastAPI Gatekeeper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - FastAPI Gatekeeper": {
      "main": [
        [
          {
            "node": "Processa Resposta FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processa Resposta FastAPI": {
      "main": [
        [
          {
            "node": "Supabase - Atualiza Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase - Salva Msg Outbound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Deve Enviar?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Evento - Decisor Capturado?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Conversa Encerrada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deve Enviar?": {
      "main": [
        [
          {
            "node": "Evolution API - Envia Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Sem Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API - Envia Resposta": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento - Decisor Capturado?": {
      "main": [
        [
          {
            "node": "Supabase - Salva Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Salva Evento": {
      "main": [
        [
          {
            "node": "Supabase - Busca place_id do Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Busca place_id do Lead": {
      "main": [
        [
          {
            "node": "Supabase - Insere clinic_decisors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Insere clinic_decisors": {
      "main": [
        [
          {
            "node": "Supabase - Atualiza Lead decisor_captured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Atualiza Lead decisor_captured": {
      "main": [
        []
      ]
    },
    "Conversa Encerrada?": {
      "main": [
        [
          {
            "node": "Supabase - Histórico Completo",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP - Dispara Outbound": {
      "main": [
        []
      ]
    },
    "Supabase - Histórico Completo": {
      "main": [
        [
          {
            "node": "Code - Monta Prompt GLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Monta Prompt GLM": {
      "main": [
        [
          {
            "node": "HTTP - GLM Avalia Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - GLM Avalia Conversa": {
      "main": [
        [
          {
            "node": "Code - Processa Resposta GLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Processa Resposta GLM": {
      "main": [
        [
          {
            "node": "Supabase - Salva Descoberta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Salva Descoberta": {
      "main": [
        [
          {
            "node": "Supabase - Auto Reset",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auto-tune?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Reset Cooldown": {
      "main": [
        [
          {
            "node": "HTTP - Dispara Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Auto Reset": {
      "main": [
        [
          {
            "node": "Evolution - Envia Reset Sim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - Envia Reset Sim": {
      "main": [
        [
          {
            "node": "Wait - Reset Cooldown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-tune?": {
      "main": [
        [
          {
            "node": "HTTP - Dispara Auto-tune",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "saveExecutionProgress": true,
    "executionTimeout": 180,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SDR",
      "id": "1"
    },
    {
      "name": "Gatekeeper",
      "id": "2"
    },
    {
      "name": "Production",
      "id": "3"
    }
  ]
}