workflows/sdr-gatekeeper-inbound.json
{
  "name": "SDR Gatekeeper - Inbound Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdr-gatekeeper-inbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Webhook - Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "sdr-gatekeeper-inbound"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Extrai dados relevantes do payload da Evolution API\n// Formato: messages.upsert event\n// ============================================\n\nconst body = $input.first().json.body;\n\n// Ignora mensagens que não são do tipo esperado\nif (!body || !body.data) {\n  return [{ json: { ignore: true, reason: 'no_data' } }];\n}\n\nconst data = body.data;\nconst event = body.event;\n\n// Só processa messages.upsert\nif (event !== 'messages.upsert') {\n  return [{ json: { ignore: true, reason: 'not_message_event', event } }];\n}\n\nconst message = data.message;\nconst key = data.key;\n\n// Mensagem enviada pelo operador via app do WhatsApp (operador assumiu o chat)\nif (key.fromMe === true) {\n  return [{ json: {\n    ignore: true,\n    isOperatorTakeover: true,\n    reason: 'from_me',\n    remoteJid: key.remoteJid\n  } }];\n}\n\n// Ignora mensagens de grupo\nif (key.remoteJid.includes('@g.us')) {\n  return [{ json: { ignore: true, reason: 'group_message' } }];\n}\n\n// Ignora status broadcasts\nif (key.remoteJid === 'status@broadcast') {\n  return [{ json: { ignore: true, reason: 'status_broadcast' } }];\n}\n\n// Extrai conteúdo da mensagem\nlet messageContent = '';\nlet messageType = 'text';\nlet contactName = null;\nlet contactPhone = null;\n\nif (message.conversation) {\n  messageContent = message.conversation;\n} else if (message.extendedTextMessage?.text) {\n  messageContent = message.extendedTextMessage.text;\n} else if (message.imageMessage?.caption) {\n  messageContent = message.imageMessage.caption;\n  messageType = 'image';\n} else if (message.audioMessage) {\n  messageContent = '[audio]';\n  messageType = 'audio';\n} else if (message.documentMessage) {\n  messageContent = '[document]';\n  messageType = 'document';\n} else if (message.reactionMessage) {\n  messageContent = message.reactionMessage.text || '';\n  messageType = 'reaction';\n} else if (message.contactMessage) {\n  // Recepção compartilhou contato do gestor via vCard — missão cumprida\n  const contact = message.contactMessage;\n  const vcard = contact.vcard || '';\n  // Extrai número WhatsApp do vCard: TEL;waid=5511982044215:+55 11 ...\n  const waidMatch = vcard.match(/waid=(\\d+)/);\n  contactPhone = waidMatch ? waidMatch[1] : '';\n  contactName = contact.displayName || '';\n  messageType = 'contact';\n  messageContent = `[contato compartilhado: ${contactName}${contactPhone ? ' | +' + contactPhone : ''}]`;\n} else {\n  // Tipo de mensagem não suportado\n  return [{ json: { ignore: true, reason: 'unsupported_message_type' } }];\n}\n\n// Monta payload limpo\nreturn [{\n  json: {\n    ignore: false,\n    remoteJid: key.remoteJid,\n    pushName: data.pushName || '',\n    wamid: key.id,\n    messageContent: messageContent.trim(),\n    messageType,\n    contactName,\n    contactPhone,\n    instanceName: body.instance || '',\n    timestamp: data.messageTimestamp || Math.floor(Date.now() / 1000),\n    // Número limpo (sem @s.whatsapp.net)\n    phoneNumber: key.remoteJid.replace('@s.whatsapp.net', '')\n  }\n}];"
      },
      "id": "parse-evolution-payload",
      "name": "Parse Evolution Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-reset",
              "leftValue": "={{ $(\"Parse Evolution Payload\").first().json.messageContent?.trim().toLowerCase() }}",
              "rightValue": "reset",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-reset",
      "name": "É Reset?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        930,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Apaga eventos, mensagens e conversas do remote_jid\nDELETE FROM gk_events WHERE conversation_id IN (\n  SELECT id FROM gk_conversations WHERE remote_jid = '{{ $json.remoteJid }}'\n);\nDELETE FROM gk_messages WHERE conversation_id IN (\n  SELECT id FROM gk_conversations WHERE remote_jid = '{{ $json.remoteJid }}'\n);\nDELETE FROM gk_conversations WHERE remote_jid = '{{ $json.remoteJid }}';",
        "options": {}
      },
      "id": "reset-conversation",
      "name": "Supabase - Reset Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": {{ JSON.stringify($('Parse Evolution Payload').first().json.remoteJid) }},\n  \"text\": \"Conversa resetada. Pode começar novamente.\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-reset-confirmation",
      "name": "Evolution - Confirma Reset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1470,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(c.id::text, '') AS id,\n  COALESCE(c.status, '') AS status,\n  COALESCE(c.message_count, 0) AS message_count,\n  COALESCE(c.fastapi_session_id, '') AS fastapi_session_id,\n  COALESCE(c.clinic_name, '') AS clinic_name,\n  COALESCE(c.remote_jid, '') AS clinic_phone,\n  COALESCE(c.paused, false) AS paused,\n  COALESCE(c.bot_bypass_attempts, 0) AS bot_bypass_attempts,\n  c.bot_bypass_cooldown_until,\n  c.detected_persona,\n  c.persona_confidence\nFROM (SELECT 1) AS dummy\nLEFT JOIN gk_conversations c\n  ON (\n    (NOT {{ $json.isHomolog }} AND c.remote_jid = '{{ $json.remoteJid }}')\n    OR\n    ({{ $json.isHomolog }} = true)\n  )\nORDER BY c.updated_at DESC NULLS LAST\nLIMIT 1;",
        "options": {}
      },
      "id": "lookup-conversation",
      "name": "Supabase - Busca Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1430,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Merge dados da mensagem com dados da conversa\nconst message = $('Parse Evolution Payload').first().json;\nconst dbResults = $input.first().json;\n\nreturn [{\n  json: {\n    ...message,\n    conversationId: dbResults.id || null,\n    fastapiSessionId: dbResults.fastapi_session_id || null,\n    currentStatus: dbResults.status || null,\n    clinicName: dbResults.clinic_name || '',\n    clinicPhone: dbResults.clinic_phone || message.remoteJid,\n    paused: dbResults.paused || false,\n    botBypassAttempts: dbResults.bot_bypass_attempts || 0,\n    botBypassCooldownUntil: dbResults.bot_bypass_cooldown_until || null,\n    sdrName: $('Supabase - Lê Config').first().json.sdr_name || 'Vera',\n    detectedPersona: dbResults.detected_persona || null,\n    personaConfidence: dbResults.persona_confidence || null,\n    isHomolog: dbResults.is_homolog || false\n  }\n}];"
      },
      "id": "merge-context",
      "name": "Merge - Contexto da Conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Reabre conversa de qualquer status de expiry\nUPDATE gk_conversations\nSET message_count = message_count + 1,\n    last_message_at = NOW(),\n    status = CASE\n      WHEN status IN ('stalled', 'expired', 'pending_optout', 'archived') THEN 'gathering_decisor'\n      ELSE status\n    END,\n    last_reset_at = CASE\n      WHEN status IN ('expired', 'pending_optout', 'archived') THEN NOW()\n      ELSE last_reset_at\n    END,\n    fastapi_session_id = CASE\n      WHEN status IN ('expired', 'pending_optout', 'archived') THEN NULL\n      ELSE fastapi_session_id\n    END,\n    expires_at = NOW() + INTERVAL '4 hours'\nWHERE remote_jid = '{{ $json.remoteJid }}'\nRETURNING id, status;\n\n-- Atualiza lead para gathering_decisor ao reabrir\nUPDATE gk_leads\nSET status = 'gathering_decisor', updated_at = NOW()\nWHERE conversation_id = (\n  SELECT id FROM gk_conversations WHERE remote_jid = '{{ $json.remoteJid }}' LIMIT 1\n)\n  AND status NOT IN ('decisor_captured', 'opted_out', 'closed', 'failed');",
        "options": {}
      },
      "id": "update-conversation-and-lead",
      "name": "Supabase - Atualiza Conversa e Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2130,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Prepara contexto unificado após criar/atualizar conversa\nconst messageData = $('Merge - Contexto da Conversa').first().json;\nconst dbResult = $input.first().json;\n\nconst conversationId = dbResult.id || messageData.conversationId;\n\nreturn [{\n  json: {\n    conversationId,\n    remoteJid: messageData.remoteJid,\n    pushName: messageData.pushName,\n    messageContent: messageData.messageContent,\n    messageType: messageData.messageType,\n    phoneNumber: messageData.phoneNumber,\n    wamid: messageData.wamid,\n    isNewConversation: messageData.isNewConversation,\n    fastapiSessionId: messageData.fastapiSessionId,\n    instanceName: messageData.instanceName,\n    clinicName: messageData.clinicName,\n    clinicPhone: messageData.clinicPhone,\n    sdrName: messageData.sdrName || 'SDR',\n    detectedPersona: messageData.detectedPersona || null,\n    personaConfidence: messageData.personaConfidence || null,\n    isHomolog: messageData.isHomolog || false\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepara Contexto Unificado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2370,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH register_wamid AS (\n  INSERT INTO sdr_debounce (remote_jid, last_wamid, updated_at)\n  VALUES ('{{ $json.remoteJid }}', '{{ $json.wamid }}', NOW())\n  ON CONFLICT (remote_jid) DO UPDATE\n    SET last_wamid = EXCLUDED.last_wamid,\n        updated_at = NOW()\n),\ninserted AS (\n  INSERT INTO gk_messages (conversation_id, direction, content, message_type, wamid)\n  VALUES (\n    '{{ $json.conversationId }}',\n    'inbound',\n    '{{ ($json.messageContent).replace(/\\'/g, \"''\") }}',\n    '{{ $json.messageType }}',\n    '{{ $json.wamid }}'\n  )\n  RETURNING conversation_id\n)\nSELECT m.direction, m.content, m.stage, m.created_at\nFROM gk_messages m\nJOIN gk_conversations c ON c.id = m.conversation_id\nWHERE m.conversation_id = '{{ $json.conversationId }}'\n  AND m.created_at >= c.last_reset_at\nORDER BY m.created_at ASC\nLIMIT 50;",
        "options": {}
      },
      "id": "save-inbound-and-fetch-history",
      "name": "Supabase - Salva Inbound e Busca Histórico",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2600,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Monta payload para o FastAPI conforme contrato real\n// ============================================\n\nconst context = $('Prepara Contexto Unificado').first().json;\nconst historyRows = $('Supabase - Salva Inbound e Busca Histórico').all();\n\n// Monta conversation_history como array de objetos\nconst conversationHistory = historyRows\n  .filter(item => item.json && item.json.content)\n  .map(item => ({\n    role: item.json.direction === 'inbound' ? 'human' : 'agent',\n    content: item.json.content,\n    ...(item.json.stage ? { stage: item.json.stage } : {})\n  }));\n\n// Calcula attempt_count:\n// - menu_bot: conta só outbounds com stage 'handling_objection' (tentativas de bypass)\n// - outros: conta todos os outbounds\nconst detectedPersona = context.detectedPersona || null;\nconst outbounds = historyRows.filter(item => item.json && item.json.direction === 'outbound');\nconst attemptCount = detectedPersona === 'menu_bot'\n  ? outbounds.filter(item => item.json.stage === 'handling_objection').length\n  : outbounds.length;\n\nreturn [{\n  json: {\n    clinicName: context.clinicName || '',\n    clinicPhone: context.clinicPhone || context.phoneNumber,\n    conversationHistory: conversationHistory,\n    latestMessage: context.messageContent,\n    detectedPersona: detectedPersona,\n    personaConfidence: context.personaConfidence || null,\n    attemptCount: attemptCount,\n    // Dados preservados para os próximos nodes\n    conversationId: context.conversationId,\n    remoteJid: context.remoteJid,\n    instanceName: context.instanceName,\n    pushName: context.pushName,\n    phoneNumber: context.phoneNumber,\n    sdrName: context.sdrName || 'Vera',\n    isHomolog: context.isHomolog || false\n  }\n}];"
      },
      "id": "prepare-fastapi-payload",
      "name": "Prepara Payload FastAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2830,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ade.easyscale.co/v1/sdr/gatekeeper",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.FASTAPI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinic_name\": {{ JSON.stringify($json.clinicName) }},\n  \"clinic_phone\": {{ JSON.stringify($json.clinicPhone) }},\n  \"sdr_name\": {{ JSON.stringify($json.sdrName || 'Vera') }},\n  \"conversation_history\": {{ JSON.stringify($json.conversationHistory) }},\n  \"latest_message\": {{ JSON.stringify($json.latestMessage) }},\n  \"current_hour\": {{ new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })).getHours() }},\n  \"current_weekday\": {{ (new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })).getDay() + 6) % 7 }},\n  \"detected_persona\": {{ JSON.stringify($json.detectedPersona || null) }},\n  \"persona_confidence\": {{ JSON.stringify($json.personaConfidence || null) }},\n  \"is_homolog\": {{ $json.isHomolog || false }}\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "call-fastapi",
      "name": "HTTP - FastAPI Gatekeeper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3060,
        540
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Processa resposta do FastAPI - Contrato Real\n// Response: {\n//   response_message: string,\n//   should_send_message: boolean,\n//   conversation_stage: string,  ← vocabulário interno do agente\n//   extracted_manager_contact: string|null,\n//   extracted_manager_email: string|null,\n//   extracted_manager_name: string|null,\n//   detected_persona: string|null,\n//   persona_confidence: string|null\n// }\n//\n// Mapeamento de stages (FastAPI interno → pipeline SDR):\n//   opening / requesting / handling_objection → gathering_decisor\n//   success                                   → decisor_captured\n//   failed                                    → denied\n//\n// CHANNEL_SUCCESS: success sem phone nem email\n//   → gestor monitora este WhatsApp → usa clinicPhone como contato\n// ============================================\n\nconst response = $input.first().json;\nconst payload = $('Prepara Payload FastAPI').first().json;\n\nconst body = response.body || response;\n\nconst responseMessage = body.response_message || '';\nconst shouldSendMessage = body.should_send_message === true;\nlet extractedManagerContact = body.extracted_manager_contact || null;\nconst extractedManagerEmail = body.extracted_manager_email || null;\nconst extractedManagerName = body.extracted_manager_name || null;\nconst detectedPersona = body.detected_persona || payload.detectedPersona || null;\nconst personaConfidence = body.persona_confidence || payload.personaConfidence || null;\n\n// Traduz stage interno do GatekeeperAgent para stage do pipeline SDR\nconst stageMap = {\n  'opening': 'gathering_decisor',\n  'requesting': 'gathering_decisor',\n  'handling_objection': 'gathering_decisor',\n  'success': 'decisor_captured',\n  'failed': 'denied'\n};\nconst rawStage = body.conversation_stage || 'requesting';\nconst conversationStage = stageMap[rawStage] || 'gathering_decisor';\n\n// CHANNEL_SUCCESS: success sem phone nem email\n// O gestor monitora este WhatsApp — usa clinicPhone como contato do canal\n// Remove @s.whatsapp.net para salvar número limpo em clinic_decisors\nconst isChannelSuccess = rawStage === 'success' && !extractedManagerContact && !extractedManagerEmail;\nif (isChannelSuccess) {\n  extractedManagerContact = (payload.clinicPhone || '').replace('@s.whatsapp.net', '');\n}\nconst contactType = isChannelSuccess ? 'channel'\n  : extractedManagerContact ? 'phone'\n  : extractedManagerEmail   ? 'email'\n  : null;\n\nreturn [{\n  json: {\n    conversationId: payload.conversationId,\n    rawStage,\n    remoteJid: payload.remoteJid,\n    instanceName: payload.instanceName,\n    responseMessage,\n    shouldSendMessage,\n    conversationStage,\n    extractedManagerContact,\n    extractedManagerEmail,\n    extractedManagerName,\n    contactType,\n    detectedPersona,\n    personaConfidence\n  }\n}];"
      },
      "id": "process-fastapi-response",
      "name": "Processa Resposta FastAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3290,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT last_wamid\nFROM sdr_debounce\nWHERE remote_jid = '{{ $(\"Parse Evolution Payload\").first().json.remoteJid }}';",
        "options": {}
      },
      "id": "check-wamid-post-fastapi",
      "name": "Supabase - Verifica Wamid Pós-FastAPI",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3530,
        540
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-wamid-still-valid",
              "leftValue": "={{ $json.last_wamid }}",
              "rightValue": "={{ $(\"Parse Evolution Payload\").first().json.wamid }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-wamid-still-valid",
      "name": "Resposta Ainda Válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3750,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_conversations\nSET\n  status = '{{ $('Processa Resposta FastAPI').first().json.conversationStage }}',\n  decisor_name = CASE\n    WHEN {{ $('Processa Resposta FastAPI').first().json.extractedManagerName ? 'true' : 'false' }} = 'true'\n    THEN '{{ ($('Processa Resposta FastAPI').first().json.extractedManagerName).replace(/'/g, \"''\") }}'\n    ELSE decisor_name\n  END,\n  decisor_phone = CASE\n    WHEN {{ $('Processa Resposta FastAPI').first().json.extractedManagerContact ? 'true' : 'false' }} = 'true'\n    THEN '{{ ($('Processa Resposta FastAPI').first().json.extractedManagerContact).replace(/'/g, \"''\") }}'\n    ELSE decisor_phone\n  END,\n  decisor_email = CASE\n    WHEN {{ $('Processa Resposta FastAPI').first().json.extractedManagerEmail ? 'true' : 'false' }} = 'true'\n    THEN '{{ ($('Processa Resposta FastAPI').first().json.extractedManagerEmail).replace(/'/g, \"''\") }}'\n    ELSE decisor_email\n  END,\n  contact_type = CASE\n    WHEN {{ $('Processa Resposta FastAPI').first().json.contactType ? 'true' : 'false' }} = 'true'\n    THEN '{{ $('Processa Resposta FastAPI').first().json.contactType }}'\n    ELSE contact_type\n  END,\n  detected_persona = CASE\n    WHEN {{ $('Processa Resposta FastAPI').first().json.detectedPersona ? 'true' : 'false' }} = 'true'\n      AND (detected_persona IS NULL OR detected_persona = 'menu_bot')\n    THEN '{{ $('Processa Resposta FastAPI').first().json.detectedPersona }}'\n    ELSE detected_persona\n  END,\n  persona_confidence = CASE\n    WHEN persona_confidence IS NULL AND {{ $('Processa Resposta FastAPI').first().json.personaConfidence ? 'true' : 'false' }} = 'true'\n    THEN '{{ $('Processa Resposta FastAPI').first().json.personaConfidence }}'\n    ELSE persona_confidence\n  END\nWHERE id = '{{ $('Processa Resposta FastAPI').first().json.conversationId }}';\n\n-- Atualiza lead para failed quando conversa encerrada em negativa\nUPDATE gk_leads\nSET status = 'failed', updated_at = NOW()\nWHERE conversation_id = '{{ $('Processa Resposta FastAPI').first().json.conversationId }}'\n  AND '{{ $('Processa Resposta FastAPI').first().json.conversationStage }}' = 'denied'\n  AND status NOT IN ('decisor_captured', 'opted_out', 'closed', 'failed');",
        "options": {}
      },
      "id": "update-conversation-status",
      "name": "Supabase - Atualiza Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3530,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_messages (conversation_id, direction, content, message_type, stage)\nVALUES (\n  '{{ $('Processa Resposta FastAPI').first().json.conversationId }}',\n  'outbound',\n  '{{ ($('Processa Resposta FastAPI').first().json.responseMessage).replace(/'/g, \"''\") }}',\n  'text',\n  '{{ $('Processa Resposta FastAPI').first().json.rawStage }}'\n);",
        "options": {}
      },
      "id": "save-outbound-message",
      "name": "Supabase - Salva Msg Outbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3530,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-should-send",
              "leftValue": "={{ $('Processa Resposta FastAPI').first().json.shouldSendMessage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-should-send",
      "name": "Deve Enviar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3760,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": {{ JSON.stringify($('Processa Resposta FastAPI').first().json.remoteJid) }},\n  \"text\": {{ JSON.stringify($('Processa Resposta FastAPI').first().json.responseMessage) }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-whatsapp-reply",
      "name": "Evolution API - Envia Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3990,
        440
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Log de evento: decisor/gestor capturado (por phone ou email)\nconst data = $('Processa Resposta FastAPI').first().json;\n\nif (data.conversationStage === 'decisor_captured' &&\n    (data.extractedManagerName || data.extractedManagerContact || data.extractedManagerEmail)) {\n  return [{\n    json: {\n      conversationId: data.conversationId,\n      eventType: 'decisor_info_received',\n      eventData: JSON.stringify({\n        manager_name: data.extractedManagerName,\n        manager_contact: data.extractedManagerContact,\n        manager_email: data.extractedManagerEmail\n      })\n    }\n  }];\n}\n\n// Sem evento especial\nreturn [];"
      },
      "id": "check-decisor-event",
      "name": "Evento - Decisor Capturado?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3990,
        820
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_events (conversation_id, event_type, event_data)\nVALUES (\n  '{{ $('Processa Resposta FastAPI').first().json.conversationId }}',\n  '{{ $('Processa Resposta FastAPI').first().json.eventType }}',\n  '{{ $('Processa Resposta FastAPI').first().json.eventData }}'::jsonb\n);",
        "options": {}
      },
      "id": "save-event",
      "name": "Supabase - Salva Evento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4220,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT place_id, lead_score, ads_group\nFROM gk_leads\nWHERE conversation_id = '{{ $('Processa Resposta FastAPI').first().json.conversationId }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "busca-place-id-do-lead",
      "name": "Supabase - Busca place_id do Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4450,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clinic_decisors (\n  place_id,\n  gk_conversation_id,\n  clinic_name,\n  clinic_phone,\n  manager_name,\n  manager_phone,\n  manager_email,\n  lead_score,\n  ads_group,\n  status\n) VALUES (\n  '{{ $('Processa Resposta FastAPI').first().json.place_id || '' }}',\n  '{{ $('Evento - Decisor Capturado?').first().json.conversationId }}',\n  '{{ ($('Prepara Contexto Unificado').first().json.clinicName || '').replace(/'/g, \"''\") }}',\n  '{{ ($('Prepara Contexto Unificado').first().json.clinicPhone || '').replace(/'/g, \"''\") }}',\n  '{{ ($('Processa Resposta FastAPI').first().json.extractedManagerName || '').replace(/'/g, \"''\") }}',\n  '{{ ($('Processa Resposta FastAPI').first().json.extractedManagerContact || '').replace(/'/g, \"''\") }}',\n  '{{ ($('Processa Resposta FastAPI').first().json.extractedManagerEmail || '').replace(/'/g, \"''\") }}',\n  {{ $('Processa Resposta FastAPI').first().json.lead_score || 0 }},\n  '{{ $('Processa Resposta FastAPI').first().json.ads_group || '' }}',\n  'captured'\n)\nON CONFLICT (manager_phone) WHERE manager_phone IS NOT NULL DO NOTHING;",
        "options": {}
      },
      "id": "insert-clinic-decisors",
      "name": "Supabase - Insere clinic_decisors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4680,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_leads\nSET status = 'decisor_captured', updated_at = NOW()\nWHERE conversation_id = '{{ $('Evento - Decisor Capturado?').first().json.conversationId }}';",
        "options": {}
      },
      "id": "update-lead-decisor-captured",
      "name": "Supabase - Atualiza Lead decisor_captured",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4910,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-failed",
              "leftValue": "={{ $json.rawStage }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-success",
              "leftValue": "={{ $json.rawStage }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-conversation-ended",
      "name": "Conversa Encerrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3530,
        980
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT direction, content, stage, created_at\nFROM gk_messages\nWHERE conversation_id = '{{ $(\"Processa Resposta FastAPI\").first().json.conversationId }}'\nORDER BY created_at ASC;",
        "options": {}
      },
      "id": "fetch-full-history",
      "name": "Supabase - Histórico Completo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3530,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Agrega mensagens e monta prompt para o GLM avaliar a conversa\nconst messages = $input.all().map(item => item.json);\nconst gkData = $(\"Processa Resposta FastAPI\").first().json;\nconst clinicName = $(\"Prepara Contexto Unificado\").first().json.clinicName || \"Clínica\";\nconst sdrName = $(\"Prepara Contexto Unificado\").first().json.sdrName || \"SDR\";\n\nconst conversationText = messages\n  .filter(msg => msg.content && msg.content.trim())\n  .map(msg => {\n    const speaker = msg.direction === \"outbound\" ? sdrName + \" (SDR)\" : \"Recepcionista\";\n    return speaker + \": \" + msg.content.trim();\n  })\n  .join(\"\\n\");\n\nconst systemPrompt = \"Você é um avaliador de conversas de SDR (Sales Development Rep).\\n\" +\n  \"Analise a conversa entre \" + sdrName + \" (SDR) e uma recepcionista de clínica médica.\\n\" +\n  \"Objetivo do SDR: coletar o contato (WhatsApp ou email) do gestor/decisor da clínica.\\n\\n\" +\n  \"Cenários conhecidos (para referência):\\n\" +\n  \"- cooperative: recepcionista cooperativa, passa contato diretamente\\n\" +\n  \"- ask_data_then_pass: pede dados da Sofia antes de passar contato\\n\" +\n  \"- reverse_contact: pede que Sofia deixe contato para o gestor ligar\\n\" +\n  \"- email_only: aceita apenas email\\n\" +\n  \"- soft_refusal: evasiva, tenta adiar\\n\" +\n  \"- hard_refusal: recusa firme, baseada em política\\n\\n\" +\n  \"Retorne SOMENTE um JSON válido (sem markdown, sem blocos de código):\\n\" +\n  \"IMPORTANTE: quality_score deve ser um número entre 0.0 e 1.0 (ex: 0.3, 0.7, 1.0).\\n\" +\n  \"{\\n\" +\n  \"  \\\"quality_score\\\": 0.0,\\n\" +\n  \"  \\\"outcome_label\\\": \\\"SUCCESS\\\",\\n\" +\n  \"  \\\"outcome_reason\\\": \\\"string curta\\\",\\n\" +\n  \"  \\\"sofia_did_well\\\": [\\\"ponto1\\\"],\\n\" +\n  \"  \\\"sofia_should_improve\\\": [\\\"ponto1\\\"],\\n\" +\n  \"  \\\"is_new_pattern\\\": false,\\n\" +\n  \"  \\\"suggested_scenario_name\\\": \\\"\\\"\\n\" +\n  \"}\\n\\n\" +\n  \"Valores válidos para outcome_label:\\n\" +\n  \"SUCCESS, EMAIL_SUCCESS, GRACEFUL_DENIED, SLOW_EXIT, STUCK, BLOCKED_RISK\";\n\nconst userMessage = \"Stage final do sistema: \" + gkData.rawStage + \"\\nClínica: \" + clinicName + \"\\n\\nConversa:\\n\" + conversationText;\n\nreturn [{\n  json: {\n    conversationId: gkData.conversationId,\n    remoteJid: $(\"Prepara Contexto Unificado\").first().json.remoteJid || \"\",\n    clinicName,\n    rawStage: gkData.rawStage,\n    conversationText,\n    glmMessages: [\n      { role: \"system\", content: systemPrompt },\n      { role: \"user\", content: userMessage }\n    ]\n  }\n}];"
      },
      "id": "build-glm-prompt",
      "name": "Code - Monta Prompt GLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        1200
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.bigmodel.cn/api/paas/v4/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GLM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"glm-5\",\n  \"messages\": {{ JSON.stringify($json.glmMessages) }},\n  \"temperature\": 0.1,\n  \"max_tokens\": 6000\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-glm-eval",
      "name": "HTTP - GLM Avalia Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3990,
        1200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst promptData = $(\"Code - Monta Prompt GLM\").first().json;\n\n// Extrai conteúdo da resposta GLM (formato OpenAI-compatible)\nconst rawContent = response.choices && response.choices[0] && response.choices[0].message\n  ? response.choices[0].message.content\n  : \"\";\n\nlet evaluation = {};\ntry {\n  // Remove markdown code blocks se o GLM retornar com eles\n  const cleaned = rawContent.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n  evaluation = JSON.parse(cleaned);\n} catch (e) {\n  evaluation = {\n    quality_score: 0.5,\n    outcome_label: \"UNSCORED\",\n    outcome_reason: \"Falha ao parsear resposta do GLM: \" + rawContent.substring(0, 100),\n    sofia_did_well: [],\n    sofia_should_improve: [],\n    is_new_pattern: false,\n    suggested_scenario_name: \"\"\n  };\n}\n\nreturn [{\n  json: {\n    conversationId: promptData.conversationId,\n    remoteJid: promptData.remoteJid || \"\",\n    clinicName: promptData.clinicName,\n    rawStage: promptData.rawStage,\n    conversationText: promptData.conversationText,\n    rawGlmResponse: rawContent,\n    qualityScore: Math.min(1.0, Math.max(0.0, evaluation.quality_score !== undefined ? parseFloat(evaluation.quality_score) : 0.5)),\n    outcomeLabel: evaluation.outcome_label || \"UNSCORED\",\n    outcomeReason: evaluation.outcome_reason || \"\",\n    sofiaDidWell: JSON.stringify(evaluation.sofia_did_well || []),\n    sofiaShoulImprove: JSON.stringify(evaluation.sofia_should_improve || []),\n    isNewPattern: evaluation.is_new_pattern || false,\n    suggestedScenarioName: evaluation.suggested_scenario_name || \"\"\n  }\n}];"
      },
      "id": "process-glm-response",
      "name": "Code - Processa Resposta GLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4220,
        1200
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_discovered_cases (\n  conversation_id,\n  clinic_name,\n  final_stage,\n  quality_score,\n  outcome_label,\n  outcome_reason,\n  sofia_did_well,\n  sofia_should_improve,\n  is_new_pattern,\n  suggested_scenario_name,\n  full_conversation,\n  raw_glm_response,\n  remote_jid\n) VALUES (\n  '{{ $json.conversationId }}',\n  '{{ ($json.clinicName).replace(/'/g, \"''\") }}',\n  '{{ $json.rawStage }}',\n  {{ $json.qualityScore }},\n  '{{ $json.outcomeLabel }}',\n  '{{ ($json.outcomeReason).replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.sofiaDidWell || []).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json.sofiaShoulImprove || []).replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.isNewPattern }},\n  '{{ ($json.suggestedScenarioName).replace(/'/g, \"''\") }}',\n  '{{ ($json.conversationText).replace(/'/g, \"''\") }}',\n  '{{ ($json.rawGlmResponse).replace(/'/g, \"''\") }}',\n  '{{ $json.remoteJid }}'\n);",
        "options": {}
      },
      "id": "save-discovery",
      "name": "Supabase - Salva Descoberta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4450,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-low-score",
              "leftValue": "={{ $json.qualityScore }}",
              "rightValue": 0.5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "cond-new-pattern",
              "leftValue": "={{ $json.isNewPattern }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "check-auto-tune",
      "name": "Auto-tune?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4680,
        1200
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/jefersonalvarenga/ai-decision-engine/actions/workflows/auto-tune-from-real.yml/dispatches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"quality_threshold\": \"0.6\",\n    \"since_hours\": \"48\",\n    \"limit\": \"10\"\n  }\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "dispatch-auto-tune",
      "name": "HTTP - Dispara Auto-tune",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4910,
        1120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendReaction/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": {{ JSON.stringify($('Merge - Contexto da Conversa').first().json.remoteJid) }},\n  \"reactionMessage\": {\n    \"key\": {\n      \"remoteJid\": {{ JSON.stringify($('Merge - Contexto da Conversa').first().json.remoteJid) }},\n      \"fromMe\": false,\n      \"id\": {{ JSON.stringify($('Merge - Contexto da Conversa').first().json.wamid) }}\n    },\n    \"reaction\": \"❤️\"\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-heart-reaction",
      "name": "Evolution - Reação ❤️",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3780,
        1090
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Sinaliza isHomolog=true quando sdr_config.environment = 'homolog'.\n// Fonte de verdade: sdr_config, lido pelo nó upstream \"Supabase - Lê Config\".\n// Dados da mensagem: Parse Evolution Payload (disponível em qualquer branch).\n\nconst config = $input.first().json;                    // saída de \"Supabase - Lê Config\"\nconst data   = $('Parse Evolution Payload').first().json; // payload da mensagem\n\nreturn [{ json: {\n  ...data,\n  isHomolog: (config.environment || '') === 'homolog'\n} }];"
      },
      "id": "resolve-jid-homolog",
      "name": "Resolve JID (Homolog?)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se a conversa deve ser bloqueada antes de chamar a IA\n// Caso 0: paused → operador assumiu o chat, silencia a IA\n// Caso 1: opted_out → ignorar completamente\n// Caso 2: pending_optout + palavra-chave de encerramento → marcar opted_out\nconst data = $input.first().json;\n\nif (data.currentStatus === 'opted_out') {\n  return [{ json: { ...data, _shouldBlock: true, _blockType: 'opted_out' } }];\n}\n\nif (data.currentStatus === 'pending_optout') {\n  const msg = (data.messageContent || '').toLowerCase().trim();\n  const optOutWords = ['sim', 'não quero', 'nao quero', 'encerrar', 'encerra', 'para', 'pare', 'stop', 'não', 'nao'];\n  const confirmed = optOutWords.some(w => msg === w || msg.startsWith(w + ' ') || msg.endsWith(' ' + w));\n  if (confirmed) {\n    return [{ json: { ...data, _shouldBlock: true, _blockType: 'confirm_optout' } }];\n  }\n}\n\nreturn [{ json: { ...data, _shouldBlock: false, _blockType: null } }];"
      },
      "id": "verifica-bloqueios",
      "name": "Verifica Bloqueios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1870,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-should-block",
              "leftValue": "={{ $json._shouldBlock }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "deve-bloquear",
      "name": "Deve Bloquear?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2100,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_conversations\nSET status = 'opted_out', updated_at = NOW()\nWHERE id = '{{ $json.conversationId }}';\n\nUPDATE gk_leads\nSET status = 'opted_out', updated_at = NOW()\nWHERE conversation_id = '{{ $json.conversationId }}';\n\nINSERT INTO gk_events (conversation_id, event_type, event_data)\nVALUES (\n  '{{ $json.conversationId }}',\n  'opted_out',\n  '{\"message\": \"{{ ($json.messageContent).replace(/'/g, \"''\") }}\", \"remote_jid\": \"{{ $json.remoteJid }}\"}'::jsonb\n);",
        "options": {}
      },
      "id": "marca-opted-out",
      "name": "Supabase - Marca Opted Out",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2330,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT environment, homolog_phone, sdr_name FROM sdr_config WHERE id = 1;",
        "options": {}
      },
      "id": "read-sdr-config",
      "name": "Supabase - Lê Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        930,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-operator-takeover",
              "leftValue": "={{ $json.isOperatorTakeover }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-operator-takeover",
      "name": "É Operador?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_conversations\nSET paused     = true,\n    updated_at  = NOW()\nWHERE remote_jid = '{{ $json.remoteJid }}'\n  AND paused IS DISTINCT FROM true\nRETURNING id, remote_jid, paused;",
        "options": {}
      },
      "id": "pause-conversation",
      "name": "Supabase - Pausa Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        920,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Evolution API": {
      "main": [
        [
          {
            "node": "Parse Evolution Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evolution Payload": {
      "main": [
        [
          {
            "node": "É Operador?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reset?": {
      "main": [
        [
          {
            "node": "Supabase - Reset Conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Pausa Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Lê Config": {
      "main": [
        [
          {
            "node": "Resolve JID (Homolog?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Reset Conversa": {
      "main": [
        [
          {
            "node": "Evolution - Confirma Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - Confirma Reset": {
      "main": [
        []
      ]
    },
    "Supabase - Busca Conversa": {
      "main": [
        [
          {
            "node": "Merge - Contexto da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Contexto da Conversa": {
      "main": [
        [
          {
            "node": "Verifica Bloqueios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Bloqueios": {
      "main": [
        [
          {
            "node": "Deve Bloquear?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deve Bloquear?": {
      "main": [
        [
          {
            "node": "Supabase - Marca Opted Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Atualiza Conversa e Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Marca Opted Out": {
      "main": [
        []
      ]
    },
    "Evolution - Reação ❤️": {
      "main": [
        [
          {
            "node": "Supabase - Histórico Completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Contexto Unificado": {
      "main": [
        [
          {
            "node": "Supabase - Salva Inbound e Busca Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Payload FastAPI": {
      "main": [
        [
          {
            "node": "HTTP - FastAPI Gatekeeper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - FastAPI Gatekeeper": {
      "main": [
        [
          {
            "node": "Processa Resposta FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processa Resposta FastAPI": {
      "main": [
        [
          {
            "node": "Supabase - Verifica Wamid Pós-FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Verifica Wamid Pós-FastAPI": {
      "main": [
        [
          {
            "node": "Resposta Ainda Válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Ainda Válida?": {
      "main": [
        [
          {
            "node": "Supabase - Atualiza Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase - Salva Msg Outbound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Deve Enviar?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Evento - Decisor Capturado?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Deve Enviar?": {
      "main": [
        [
          {
            "node": "Evolution API - Envia Resposta",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Evolution API - Envia Resposta": {
      "main": [
        []
      ]
    },
    "Evento - Decisor Capturado?": {
      "main": [
        [
          {
            "node": "Supabase - Salva Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Salva Evento": {
      "main": [
        [
          {
            "node": "Supabase - Busca place_id do Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Busca place_id do Lead": {
      "main": [
        [
          {
            "node": "Supabase - Insere clinic_decisors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Insere clinic_decisors": {
      "main": [
        [
          {
            "node": "Supabase - Atualiza Lead decisor_captured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Atualiza Lead decisor_captured": {
      "main": [
        [
          {
            "node": "Evolution - Reação ❤️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversa Encerrada?": {
      "main": [
        [
          {
            "node": "Supabase - Histórico Completo",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Supabase - Histórico Completo": {
      "main": [
        [
          {
            "node": "Code - Monta Prompt GLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Monta Prompt GLM": {
      "main": [
        [
          {
            "node": "HTTP - GLM Avalia Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - GLM Avalia Conversa": {
      "main": [
        [
          {
            "node": "Code - Processa Resposta GLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Processa Resposta GLM": {
      "main": [
        [
          {
            "node": "Supabase - Salva Descoberta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-tune?": {
      "main": [
        [
          {
            "node": "HTTP - Dispara Auto-tune",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Resolve JID (Homolog?)": {
      "main": [
        [
          {
            "node": "Supabase - Busca Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Operador?": {
      "main": [
        [
          {
            "node": "É Reset?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Lê Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Atualiza Conversa e Lead": {
      "main": [
        [
          {
            "node": "Prepara Contexto Unificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Salva Inbound e Busca Histórico": {
      "main": [
        [
          {
            "node": "Prepara Payload FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "saveExecutionProgress": true,
    "executionTimeout": 180,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SDR",
      "id": "1"
    },
    {
      "name": "Gatekeeper",
      "id": "2"
    },
    {
      "name": "Production",
      "id": "3"
    }
  ]
}