workflows/sdr-gatekeeper-greeting.json
{
  "name": "SDR Gatekeeper - Greeting Outbound",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "cron-greeting",
      "name": "Cron - Greeting 15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Verifica horário comercial (Seg-Sex, 9h-18h BRT)\n// e calcula batch size conforme warm-up\n// ============================================\n\nconst now = new Date();\n\n// Converte para BRT (UTC-3)\nconst brt = new Date(now.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nconst hour = brt.getHours();\nconst day = brt.getDay(); // 0=Dom, 6=Sab\n\n// Fora do horário comercial?\nif (day === 0 || day === 6 || hour < 9 || hour >= 18) {\n  return [{ json: { skip: true, reason: 'fora_horario_comercial', hour, day } }];\n}\n\n// Sexta depois das 16h - não envia (expira no fim de semana)\nif (day === 5 && hour >= 16) {\n  return [{ json: { skip: true, reason: 'sexta_tarde', hour, day } }];\n}\n\n// Warm-up config (ajustar conforme semana)\n// Semana 1: batch=5, cap=30\n// Semana 2: batch=10, cap=80\n// Semana 3: batch=15, cap=150\n// Semana 4+: batch=20, cap=250\nconst BATCH_SIZE = 5;\nconst DAILY_CAP = 30;\nconst MIN_DELAY_S = 60;\nconst MAX_DELAY_S = 120;\n\nreturn [{ json: {\n  skip: false,\n  batchSize: BATCH_SIZE,\n  dailyCap: DAILY_CAP,\n  minDelayS: MIN_DELAY_S,\n  maxDelayS: MAX_DELAY_S,\n  hour,\n  day\n} }];"
      },
      "id": "check-business-hours",
      "name": "Horário Comercial?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-business-hours",
      "name": "Dentro do Horário?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as today_count FROM gk_leads\nWHERE sent_at >= CURRENT_DATE;",
        "options": {}
      },
      "id": "daily-cap-check",
      "name": "Supabase - Cap Diário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        930,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Verifica se atingiu o cap diário\nconst config = $('Horário Comercial?').first().json;\nconst todayCount = parseInt($input.first().json.today_count) || 0;\n\nif (todayCount >= config.dailyCap) {\n  return [{ json: { skip: true, reason: 'daily_cap_atingido', todayCount, dailyCap: config.dailyCap } }];\n}\n\nreturn [{ json: {\n  skip: false,\n  todayCount,\n  remaining: config.dailyCap - todayCount,\n  batchSize: Math.min(config.batchSize, config.dailyCap - todayCount),\n  minDelayS: config.minDelayS,\n  maxDelayS: config.maxDelayS\n} }];"
      },
      "id": "check-daily-cap",
      "name": "Atingiu Cap?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-cap",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-daily-cap",
      "name": "Abaixo do Cap?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1390,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/pick_next_clinic",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "pick-next-clinic",
      "name": "Bandit - pick_next_clinic()",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Supabase RPC via HTTP retorna array [{...}]\n// Extrai o primeiro elemento e valida existência de clínica.\n// Retornar [] para execução (sem Filter node — evita problema de conditions JSON)\nconst result = $input.first().json;\nconst clinic = Array.isArray(result) ? result[0] : result;\n\n// Sem clínica disponível: para execução silenciosamente\nif (!clinic || !clinic.out_clinic_phone) {\n  return [];\n}\n\nreturn [{ json: clinic }];"
      },
      "id": "normalize-bandit",
      "name": "Tem Clínica?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_leads (clinic_name, clinic_phone, place_id, lead_score, ads_group, status)\nVALUES (\n  $gk${{ $json.out_clinic_name }}$gk$,\n  '{{ $json.out_clinic_phone }}',\n  $gk${{ $json.out_place_id }}$gk$,\n  {{ $json.out_lead_score || 0 }},\n  $gk${{ $json.out_ads_group }}$gk$,\n  'created'\n)\nON CONFLICT DO NOTHING\nRETURNING *;",
        "options": {}
      },
      "id": "insert-gk-lead",
      "name": "Supabase - Insere Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2310,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ON CONFLICT DO NOTHING retorna 0 linhas se lead já existe (duplicata)\n// Retorna [] para parar execução silenciosamente nesse caso\nconst lead = $input.first().json;\n\nif (!lead || !lead.id) {\n  return [];\n}\n\nreturn [{ json: lead }];"
      },
      "id": "has-leads",
      "name": "Lead Inserido?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Seleciona template aleatório e personaliza\n// Calcula delay aleatório para cadência humanizada\n// ============================================\n\nconst templates = [\n  'Oi, tudo bem? Estou tentando falar com alguém da {clinic_name}. Você poderia me ajudar?',\n  'Olá! Boa tarde! Estou buscando o responsável da {clinic_name}, consegue me direcionar?',\n  'Oi! Meu nome é Sofia, da EasyScale. Estou tentando contato com a {clinic_name}, pode me ajudar?',\n  'Olá, tudo bem? Gostaria de falar com o gestor da {clinic_name}. Você sabe quem é?',\n  'Oi! Sou a Sofia da EasyScale. Conseguiria me ajudar a falar com alguém da direção da {clinic_name}?',\n  'Olá! Estou entrando em contato com a {clinic_name}. Poderia me indicar quem cuida da parte de gestão?',\n  'Oi, tudo bem? Aqui é a Sofia. Estou tentando um contato com a {clinic_name}, pode me dar uma mão?',\n  'Olá! Gostaria de conversar com alguém da {clinic_name} sobre uma oportunidade. Quem seria a melhor pessoa?'\n];\n\nconst lead = $input.first().json;\nconst config = $('Atingiu Cap?').first().json;\n\n// Template aleatório\nconst idx = Math.floor(Math.random() * templates.length);\nconst message = templates[idx].replace(/{clinic_name}/g, lead.clinic_name);\n\n// Delay aleatório entre min e max (fallback seguro se config não disponível)\nconst minDelay = config?.minDelayS ?? 30;\nconst maxDelay = config?.maxDelayS ?? 60;\nconst delayS = minDelay + Math.floor(Math.random() * Math.max(1, maxDelay - minDelay));\n\n// TEST_PHONE: se definido, redireciona TODAS as mensagens para esse número.\n// Permite testar o ciclo completo sem contatar clínicas reais.\n// Em produção: deixar vazio ou não definir.\nconst testPhone = $env.TEST_PHONE || '';\nconst remote_jid = testPhone\n  ? testPhone.replace(/\\D/g, '') + '@s.whatsapp.net'\n  : lead.clinic_phone + '@s.whatsapp.net';\n\nreturn [{\n  json: {\n    ...lead,\n    remote_jid,\n    greetingMessage: message,\n    templateIndex: idx,\n    delaySec: delayS\n  }\n}];"
      },
      "id": "select-template",
      "name": "Seleciona Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2770,
        300
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.delaySec ?? 30 }}",
        "unit": "seconds"
      },
      "id": "wait-delay",
      "name": "Wait - Delay Aleatório",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_leads SET updated_at = NOW()\nWHERE id = '{{ $json.id }}' AND status = 'created'\nRETURNING id;",
        "options": {}
      },
      "id": "mark-processing",
      "name": "Marca Lead Processando",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3230,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": {{ JSON.stringify($('Seleciona Template').first().json.remote_jid) }},\n  \"text\": {{ JSON.stringify($('Seleciona Template').first().json.greetingMessage) }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-greeting",
      "name": "Evolution - Envia Greeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3460,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_conversations (remote_jid, clinic_name, push_name, status, evolution_instance, message_count, last_message_at, expires_at)\nVALUES (\n  '{{ $('Seleciona Template').first().json.remote_jid }}',\n  $gk${{ $('Seleciona Template').first().json.clinic_name }}$gk$,\n  '',\n  'greeting_sent',\n  '{{ $env.EVOLUTION_INSTANCE_NAME }}',\n  1,\n  NOW(),\n  NOW() + INTERVAL '4 hours'\n)\nRETURNING id;",
        "options": {}
      },
      "id": "create-conversation",
      "name": "Supabase - Cria Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3690,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_messages (conversation_id, direction, content, message_type)\nVALUES (\n  '{{ $json.id }}',\n  'outbound',\n  $gk${{ $('Seleciona Template').first().json.greetingMessage }}$gk$,\n  'text'\n);",
        "options": {}
      },
      "id": "save-outbound-msg",
      "name": "Supabase - Salva Msg Outbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3920,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_leads\nSET sent_at = NOW(),\n    conversation_id = '{{ $('Supabase - Cria Conversa').first().json.id }}',\n    updated_at = NOW()\nWHERE id = '{{ $('Seleciona Template').first().json.id }}';",
        "options": {}
      },
      "id": "update-lead-sent",
      "name": "Supabase - Atualiza Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3920,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdr-gatekeeper-outbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-outbound-trigger",
      "name": "Webhook - Dispara Outbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        500
      ],
      "webhookId": "sdr-gatekeeper-outbound"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual - Teste",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        700
      ]
    }
  ],
  "connections": {
    "Cron - Greeting 15min": {
      "main": [
        [
          {
            "node": "Horário Comercial?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horário Comercial?": {
      "main": [
        [
          {
            "node": "Dentro do Horário?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dentro do Horário?": {
      "main": [
        [
          {
            "node": "Supabase - Cap Diário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Cap Diário": {
      "main": [
        [
          {
            "node": "Atingiu Cap?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atingiu Cap?": {
      "main": [
        [
          {
            "node": "Abaixo do Cap?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abaixo do Cap?": {
      "main": [
        [
          {
            "node": "Bandit - pick_next_clinic()",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bandit - pick_next_clinic()": {
      "main": [
        [
          {
            "node": "Tem Clínica?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Clínica?": {
      "main": [
        [
          {
            "node": "Supabase - Insere Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Insere Lead": {
      "main": [
        [
          {
            "node": "Lead Inserido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Inserido?": {
      "main": [
        [
          {
            "node": "Seleciona Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleciona Template": {
      "main": [
        [
          {
            "node": "Wait - Delay Aleatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Delay Aleatório": {
      "main": [
        [
          {
            "node": "Marca Lead Processando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marca Lead Processando": {
      "main": [
        [
          {
            "node": "Evolution - Envia Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - Envia Greeting": {
      "main": [
        [
          {
            "node": "Supabase - Cria Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Cria Conversa": {
      "main": [
        [
          {
            "node": "Supabase - Salva Msg Outbound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase - Atualiza Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Dispara Outbound": {
      "main": [
        [
          {
            "node": "Horário Comercial?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual - Teste": {
      "main": [
        [
          {
            "node": "Horário Comercial?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "saveExecutionProgress": true,
    "executionTimeout": 600,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SDR",
      "id": "1"
    },
    {
      "name": "Gatekeeper",
      "id": "2"
    },
    {
      "name": "Production",
      "id": "3"
    }
  ]
}