workflows/sdr-gatekeeper-greeting.json
{
  "name": "SDR Gatekeeper - Greeting Outbound",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "cron-greeting",
      "name": "Cron - Greeting 15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Verifica horário comercial (Seg-Sex, 9h-18h BRT)\n// e calcula batch size conforme warm-up\n// ============================================\n\n// Se em modo homolog (sdr_config.environment = 'homolog'), bypassa horário comercial\nconst _sdrConfig = $('Supabase - Lê Config').first().json;\nif (_sdrConfig.environment === 'homolog') {\n  return [{ json: {\n    skip: false,\n    batchSize: 1,\n    dailyCap: 9999,\n    minDelayS: 1,\n    maxDelayS: 2,\n    hour: new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })).getHours(),\n    day: new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })).getDay(),\n    bypass: true,\n    reason: 'homolog_mode'\n  } }];\n}\n\n// Se disparado pelo loop do inbound (source = inbound_cycle), bypassa horário\nconst body = $input.first().json.body || $input.first().json;\nif (body.source === 'inbound_cycle') {\n  return [{ json: {\n    skip: false,\n    batchSize: 1,\n    dailyCap: 9999,\n    minDelayS: 5,\n    maxDelayS: 10,\n    hour: new Date().getHours(),\n    day: new Date().getDay(),\n    bypass: true,\n    reason: 'inbound_cycle_trigger'\n  } }];\n}\n\nconst now = new Date();\n\n// Converte para BRT (UTC-3)\nconst brt = new Date(now.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nconst hour = brt.getHours();\nconst day = brt.getDay(); // 0=Dom, 6=Sab\n\n// Fora do horário comercial?\nif (day === 0 || day === 6 || hour < 9 || hour >= 18) {\n  return [{ json: { skip: true, reason: 'fora_horario_comercial', hour, day } }];\n}\n\n// Sexta depois das 16h - não envia (expira no fim de semana)\nif (day === 5 && hour >= 16) {\n  return [{ json: { skip: true, reason: 'sexta_tarde', hour, day } }];\n}\n\n// Warm-up config (ajustar conforme semana)\n// Semana 1: batch=5, cap=30\n// Semana 2: batch=10, cap=80\n// Semana 3: batch=15, cap=150\n// Semana 4+: batch=20, cap=250\nconst BATCH_SIZE = 5;\nconst DAILY_CAP = 30;\nconst MIN_DELAY_S = 60;\nconst MAX_DELAY_S = 120;\n\nreturn [{ json: {\n  skip: false,\n  batchSize: BATCH_SIZE,\n  dailyCap: DAILY_CAP,\n  minDelayS: MIN_DELAY_S,\n  maxDelayS: MAX_DELAY_S,\n  hour,\n  day\n} }];"
      },
      "id": "check-business-hours",
      "name": "Horário Comercial?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "condition-dev-mode",
              "leftValue": "={{ $('Supabase - Lê Config').first().json.environment }}",
              "rightValue": "homolog",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-business-hours",
      "name": "Dentro do Horário?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as today_count FROM gk_leads\nWHERE sent_at >= CURRENT_DATE;",
        "options": {}
      },
      "id": "daily-cap-check",
      "name": "Supabase - Cap Diário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        930,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Verifica se atingiu o cap diário\nconst config = $('Horário Comercial?').first().json;\nconst todayCount = parseInt($input.first().json.today_count) || 0;\n\nif (todayCount >= config.dailyCap) {\n  return [{ json: { skip: true, reason: 'daily_cap_atingido', todayCount, dailyCap: config.dailyCap } }];\n}\n\nreturn [{ json: {\n  skip: false,\n  todayCount,\n  remaining: config.dailyCap - todayCount,\n  batchSize: Math.min(config.batchSize, config.dailyCap - todayCount),\n  minDelayS: config.minDelayS,\n  maxDelayS: config.maxDelayS\n} }];"
      },
      "id": "check-daily-cap",
      "name": "Atingiu Cap?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-cap",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-daily-cap",
      "name": "Abaixo do Cap?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1390,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/pick_next_clinic",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "pick-next-clinic",
      "name": "Bandit - pick_next_clinic()",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Supabase RPC via HTTP retorna array [{...}]\n// Extrai o primeiro elemento e valida existência de clínica.\n// Retornar [] para execução (sem Filter node — evita problema de conditions JSON)\nconst result = $input.first().json;\nconst clinic = Array.isArray(result) ? result[0] : result;\n\n// Sem clínica disponível: para execução silenciosamente\nif (!clinic || !clinic.out_clinic_phone) {\n  return [];\n}\n\nreturn [{ json: clinic }];"
      },
      "id": "normalize-bandit",
      "name": "Tem Clínica?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n  INSERT INTO gk_leads (clinic_name, clinic_phone, place_id, lead_score, ads_group, google_rating, google_reviews, google_ads_count, status, is_homolog)\n  VALUES (\n    $gk${{ $json.out_clinic_name }}$gk$,\n    '{{ $json.out_clinic_phone }}',\n    $gk${{ $json.out_place_id }}$gk$,\n    {{ $json.out_lead_score || 0 }},\n    $gk${{ $json.out_ads_group }}$gk$,\n    {{ $json.out_google_rating || 'NULL' }},\n    {{ $json.out_google_reviews || 'NULL' }},\n    {{ $json.out_google_ads_count || 'NULL' }},\n    'created',\n    {{ $('Supabase - Lê Config').first().json.environment === 'homolog' }}\n  )\n  ON CONFLICT DO NOTHING\n  RETURNING *\n)\nSELECT * FROM inserted\nUNION ALL\nSELECT * FROM gk_leads\nWHERE place_id = '{{ $json.out_place_id }}'\n  AND NOT EXISTS (SELECT 1 FROM inserted)\nLIMIT 1;",
        "options": {}
      },
      "id": "insert-gk-lead",
      "name": "Supabase - Insere Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2310,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// UPSERT sempre retorna o lead com id (novo ou existente)\n// Retorna [] apenas se houve erro inesperado (sem id)\nconst lead = $input.first().json;\n\nif (!lead?.id) {\n  return [];\n}\n\nreturn [{ json: lead }];"
      },
      "id": "has-leads",
      "name": "Lead Inserido?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ade.easyscale.co/v1/utils/extract-short-name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.FASTAPI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"full_name\": {{ JSON.stringify($json.clinic_name) }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fastapi-extrai-nome-curto",
      "name": "FastAPI - Extrai Nome Curto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ade.easyscale.co/v1/sdr/gatekeeper",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.FASTAPI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clinic_name\": {{ JSON.stringify($json.short_name || $('Lead Inserido?').first().json.clinic_name) }},\n  \"clinic_phone\": {{ JSON.stringify($('Lead Inserido?').first().json.clinic_phone) }},\n  \"conversation_history\": [],\n  \"latest_message\": null,\n  \"current_weekday\": {{ (new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })).getDay() + 6) % 7 }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fastapi-gera-greeting",
      "name": "FastAPI - Gera Greeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Extrai mensagem gerada pela SDR Iris (FastAPI)\n// Calcula delay aleatório para cadência humanizada\n// remote_jid sempre usa o telefone REAL da clínica.\n// O redirecionamento para homolog é feito no nó 'Roteamento Homolog'.\n// ============================================\n\nconst lead = $('Lead Inserido?').first().json;\nconst fastapi = $input.first().json;\nconst config = $('Atingiu Cap?').first().json;\n\n// Nome curto extraído pela LLM (fallback: nome original do CRM)\nconst shortName = $('FastAPI - Extrai Nome Curto').first().json.short_name || lead.clinic_name;\n\n// Mensagem gerada pela SDR Iris via FastAPI\nconst message = fastapi.response_message;\n\n// Sem mensagem: para execução silenciosamente\nif (!message) {\n  return [];\n}\n\n// Delay aleatório entre min e max (fallback seguro se config não disponível)\nconst minDelay = config?.minDelayS ?? 30;\nconst maxDelay = config?.maxDelayS ?? 60;\nconst delayS = minDelay + Math.floor(Math.random() * Math.max(1, maxDelay - minDelay));\n\n// remote_jid: sempre o telefone real da clínica (nunca o TEST_PHONE)\nconst remote_jid = lead.clinic_phone.replace(/\\D/g, '') + '@s.whatsapp.net';\n\nreturn [{\n  json: {\n    ...lead,\n    clinic_name: shortName,\n    remote_jid,\n    greetingMessage: message,\n    delaySec: delayS\n  }\n}];"
      },
      "id": "select-template",
      "name": "Seleciona Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3010,
        300
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Supabase - Lê Config').first().json.environment === 'homolog' ? 1 : ($json.delaySec ?? 30) }}",
        "unit": "seconds"
      },
      "id": "wait-delay",
      "name": "Wait - Delay Aleatório",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_leads SET updated_at = NOW()\nWHERE clinic_phone = '{{ $json.clinic_phone }}' AND status = 'created'\nRETURNING id;",
        "options": {}
      },
      "id": "mark-processing",
      "name": "Marca Lead Processando",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3480,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": {{ JSON.stringify($('Roteamento Homolog').first().json.send_jid) }},\n  \"text\": {{ JSON.stringify($('Seleciona Template').first().json.greetingMessage) }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-greeting",
      "name": "Evolution - Envia Greeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_leads\nSET status        = 'failed',\n    error_message = 'not_on_whatsapp',\n    updated_at    = NOW()\nWHERE id = '{{ $(\"Lead Inserido?\").first().json.id }}';",
        "options": {}
      },
      "id": "mark-lead-no-whatsapp",
      "name": "Supabase - Marca Lead Sem WhatsApp",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3940,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_conversations (\n  remote_jid, clinic_name, push_name, status,\n  evolution_instance, message_count, last_message_at, is_homolog\n)\nVALUES (\n  '{{ $(\"Seleciona Template\").first().json.remote_jid }}',\n  '{{ ($(\"Seleciona Template\").first().json.clinic_name || \"\").replace(/\\'/g, \"''\") }}',\n  '',\n  'greeting_sent',\n  '{{ $env.EVOLUTION_INSTANCE_NAME }}',\n  1,\n  NOW(),\n  {{ $('Supabase - Lê Config').first().json.environment === 'homolog' }}\n)\nON CONFLICT (remote_jid) DO UPDATE SET\n  status        = 'greeting_sent',\n  clinic_name   = EXCLUDED.clinic_name,\n  message_count = gk_conversations.message_count + 1,\n  last_message_at = NOW(),\n  updated_at    = NOW()\nRETURNING id;",
        "options": {}
      },
      "id": "create-conversation",
      "name": "Supabase - Cria Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3940,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gk_messages (conversation_id, direction, content, message_type)\nVALUES (\n  '{{ $json.id }}',\n  'outbound',\n  $gk${{ $('Seleciona Template').first().json.greetingMessage }}$gk$,\n  'text'\n);",
        "options": {}
      },
      "id": "save-outbound-msg",
      "name": "Supabase - Salva Msg Outbound",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4170,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE gk_leads\nSET sent_at = NOW(),\n    conversation_id = '{{ $('Supabase - Cria Conversa').first().json.id }}',\n    updated_at = NOW()\nWHERE id = '{{ $('Seleciona Template').first().json.id }}';",
        "options": {}
      },
      "id": "update-lead-sent",
      "name": "Supabase - Atualiza Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4170,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdr-gatekeeper-outbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-outbound-trigger",
      "name": "Webhook - Dispara Outbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        500
      ],
      "webhookId": "sdr-gatekeeper-outbound"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual - Teste",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Roteamento Homolog\n// Única responsabilidade: substituir o destino do envio WhatsApp quando em modo homolog.\n// O banco já foi gravado com os dados reais — só o destino da mensagem muda aqui.\n// Fonte de verdade: sdr_config.environment (lido pelo nó \"Supabase - Lê Config\" no início do fluxo).\n\nconst data = $input.first().json;\nconst config = $('Supabase - Lê Config').first().json;\n\n// send_jid: destino real do envio WhatsApp\n// remote_jid (gravado no banco) permanece com o JID real da clínica\nconst send_jid = config.environment === 'homolog'\n  ? (config.homolog_phone || '').replace(/\\D/g, '') + '@s.whatsapp.net'\n  : data.remote_jid;\n\nreturn [{ json: { ...data, send_jid } }];"
      },
      "id": "routing-homolog",
      "name": "Roteamento Homolog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT environment, homolog_phone FROM sdr_config WHERE id = 1;",
        "options": {}
      },
      "id": "read-sdr-config",
      "name": "Supabase - Lê Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(\n  (SELECT paused FROM gk_conversations WHERE remote_jid = '{{ $(\"Seleciona Template\").first().json.remote_jid }}' LIMIT 1),\n  false\n) AS paused;",
        "options": {}
      },
      "id": "check-paused-greeting",
      "name": "Supabase - Verifica Pausa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3595,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Postgres SDR Gatekeeper"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-not-paused",
              "leftValue": "={{ $json.paused }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-paused-greeting",
      "name": "Não Está Pausada?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        3710,
        300
      ]
    }
  ],
  "connections": {
    "Cron - Greeting 15min": {
      "main": [
        [
          {
            "node": "Supabase - Lê Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horário Comercial?": {
      "main": [
        [
          {
            "node": "Dentro do Horário?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dentro do Horário?": {
      "main": [
        [
          {
            "node": "Supabase - Cap Diário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Cap Diário": {
      "main": [
        [
          {
            "node": "Atingiu Cap?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atingiu Cap?": {
      "main": [
        [
          {
            "node": "Abaixo do Cap?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abaixo do Cap?": {
      "main": [
        [
          {
            "node": "Bandit - pick_next_clinic()",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bandit - pick_next_clinic()": {
      "main": [
        [
          {
            "node": "Tem Clínica?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Clínica?": {
      "main": [
        [
          {
            "node": "Supabase - Insere Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Insere Lead": {
      "main": [
        [
          {
            "node": "Lead Inserido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Inserido?": {
      "main": [
        [
          {
            "node": "FastAPI - Extrai Nome Curto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI - Extrai Nome Curto": {
      "main": [
        [
          {
            "node": "FastAPI - Gera Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI - Gera Greeting": {
      "main": [
        [
          {
            "node": "Seleciona Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleciona Template": {
      "main": [
        [
          {
            "node": "Roteamento Homolog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Delay Aleatório": {
      "main": [
        [
          {
            "node": "Marca Lead Processando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marca Lead Processando": {
      "main": [
        [
          {
            "node": "Supabase - Verifica Pausa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution - Envia Greeting": {
      "main": [
        [
          {
            "node": "Supabase - Cria Conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Marca Lead Sem WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Cria Conversa": {
      "main": [
        [
          {
            "node": "Supabase - Salva Msg Outbound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase - Atualiza Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Dispara Outbound": {
      "main": [
        [
          {
            "node": "Supabase - Lê Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual - Teste": {
      "main": [
        [
          {
            "node": "Supabase - Lê Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteamento Homolog": {
      "main": [
        [
          {
            "node": "Wait - Delay Aleatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Lê Config": {
      "main": [
        [
          {
            "node": "Horário Comercial?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Verifica Pausa": {
      "main": [
        [
          {
            "node": "Não Está Pausada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não Está Pausada?": {
      "main": [
        [
          {
            "node": "Evolution - Envia Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "saveExecutionProgress": true,
    "executionTimeout": 600,
    "timezone": "America/Sao_Paulo"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SDR",
      "id": "1"
    },
    {
      "name": "Gatekeeper",
      "id": "2"
    },
    {
      "name": "Production",
      "id": "3"
    }
  ]
}